DobotNodeRedFlow.json
[
    {
        "id": "aafced5826385ea7",
        "type": "tab",
        "label": "DobotCR5Controls",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1938cc21cad06b02",
        "type": "inject",
        "z": "aafced5826385ea7",
        "name": "CLEAR",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "5af0f75c38e81ff4"
            ]
        ]
    },
    {
        "id": "ad720bb4a7e2532a",
        "type": "inject",
        "z": "aafced5826385ea7",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "90516b33bca88766"
            ]
        ]
    },
    {
        "id": "fcee772b65317b43",
        "type": "inject",
        "z": "aafced5826385ea7",
        "name": "Pause",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "2278befe71ccad9a"
            ]
        ]
    },
    {
        "id": "177e4bb7cbdfd603",
        "type": "inject",
        "z": "aafced5826385ea7",
        "name": "Continue",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "6189c0cfb477b839"
            ]
        ]
    },
    {
        "id": "dd240dc9fb73dbce",
        "type": "inject",
        "z": "aafced5826385ea7",
        "name": "Stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "e16fe1bce3c25aa0"
            ]
        ]
    },
    {
        "id": "0ed06c1a5e3e86d8",
        "type": "ui_button",
        "z": "aafced5826385ea7",
        "name": "",
        "group": "9513f97c8f62a13b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "90516b33bca88766"
            ]
        ]
    },
    {
        "id": "d4ac235dbd817990",
        "type": "ui_button",
        "z": "aafced5826385ea7",
        "name": "",
        "group": "9513f97c8f62a13b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "2278befe71ccad9a"
            ]
        ]
    },
    {
        "id": "a6af288a0ab87e5f",
        "type": "ui_button",
        "z": "aafced5826385ea7",
        "name": "",
        "group": "9513f97c8f62a13b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Continue",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 340,
        "wires": [
            [
                "6189c0cfb477b839"
            ]
        ]
    },
    {
        "id": "bbc538d7a686b94d",
        "type": "ui_button",
        "z": "aafced5826385ea7",
        "name": "",
        "group": "9513f97c8f62a13b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 400,
        "wires": [
            [
                "e16fe1bce3c25aa0"
            ]
        ]
    },
    {
        "id": "5af0f75c38e81ff4",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "Clear",
        "func": "msg.payload = { value:[0,0,0,0],\n'fc': 15,\n'unitid': 1,\n'address': 0,\n'quantity': 4 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 140,
        "wires": [
            [
                "87e52d360feced70"
            ]
        ]
    },
    {
        "id": "90516b33bca88766",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "Start",
        "func": "msg.payload = { value:[1,0,0,0],\n'fc': 15,\n'unitid': 1,\n'address': 0,\n'quantity': 4 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 200,
        "wires": [
            [
                "87e52d360feced70"
            ]
        ]
    },
    {
        "id": "2278befe71ccad9a",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "Pause",
        "func": "msg.payload = { value:[0,1,0,0],\n'fc': 15,\n'unitid': 1,\n'address': 0,\n'quantity': 4 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 260,
        "wires": [
            [
                "87e52d360feced70"
            ]
        ]
    },
    {
        "id": "6189c0cfb477b839",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "Continue",
        "func": "msg.payload = { value:[0,0,1,0],\n'fc': 15,\n'unitid': 1,\n'address': 0,\n'quantity': 4 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 320,
        "wires": [
            [
                "87e52d360feced70"
            ]
        ]
    },
    {
        "id": "e16fe1bce3c25aa0",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "Stop",
        "func": "msg.payload = { value:[0,0,0,1],\n'fc': 15,\n'unitid': 1,\n'address': 0,\n'quantity': 4 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 380,
        "wires": [
            [
                "87e52d360feced70"
            ]
        ]
    },
    {
        "id": "7c4205a14d04a5f3",
        "type": "modbus-response",
        "z": "aafced5826385ea7",
        "name": "",
        "registerShowMax": 20,
        "x": 1430,
        "y": 260,
        "wires": []
    },
    {
        "id": "87e52d360feced70",
        "type": "modbus-flex-write",
        "z": "aafced5826385ea7",
        "name": "Dobot Controller",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "63d69422.2169ac",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1120,
        "y": 260,
        "wires": [
            [
                "7c4205a14d04a5f3"
            ],
            [
                "7c4205a14d04a5f3"
            ]
        ]
    },
    {
        "id": "5e8528108c6a8802",
        "type": "exec",
        "z": "aafced5826385ea7",
        "command": "python",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 940,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "744c587f87279573",
        "type": "ui_text_input",
        "z": "aafced5826385ea7",
        "name": "",
        "label": "File Path + Name",
        "tooltip": "",
        "group": "0f421e103d692423",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "279b4d21d1c3eb6d",
                "d28441343da94249"
            ]
        ]
    },
    {
        "id": "3309ade52bf5ebb4",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "Modbus",
        "info": "",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "b02855784d708de4",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "Jog with Joints/Cartesian",
        "info": "",
        "x": 2050,
        "y": 100,
        "wires": []
    },
    {
        "id": "9428d1e31947b1f4",
        "type": "mqtt in",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/Terminate",
        "qos": "1",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 580,
        "wires": [
            [
                "f250111d35a33008"
            ]
        ]
    },
    {
        "id": "f250111d35a33008",
        "type": "debug",
        "z": "aafced5826385ea7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 580,
        "wires": []
    },
    {
        "id": "9f13f070e9d98cf7",
        "type": "ui_button",
        "z": "aafced5826385ea7",
        "name": "",
        "group": "bdf59e834372100b",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Run App",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 1160,
        "wires": [
            [
                "aa0e3a05ee55c717",
                "deadce14fb6eb6e4",
                "db48fbca10af4ce4"
            ]
        ]
    },
    {
        "id": "99d4397a89f05dbc",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "Run Python App with Jog & teach point functions",
        "info": "",
        "x": 240,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c2a602ad377a755c",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "Stop App running",
        "info": "",
        "x": 160,
        "y": 540,
        "wires": []
    },
    {
        "id": "851becb7eb23a3c4",
        "type": "ui_button",
        "z": "aafced5826385ea7",
        "name": "",
        "group": "bdf59e834372100b",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Terminate",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "526e1f59848cf408"
            ]
        ]
    },
    {
        "id": "526e1f59848cf408",
        "type": "template",
        "z": "aafced5826385ea7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Terminate",
        "output": "str",
        "x": 400,
        "y": 640,
        "wires": [
            [
                "13cdab6256d4e720",
                "42efad8e73e18b1d",
                "6c154092498ef314"
            ]
        ]
    },
    {
        "id": "13cdab6256d4e720",
        "type": "mqtt out",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/Terminate",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f6f8c09749e6d95",
        "x": 600,
        "y": 640,
        "wires": []
    },
    {
        "id": "aa0e3a05ee55c717",
        "type": "pythonshell in",
        "z": "aafced5826385ea7",
        "name": "",
        "pyfile": "/Users/Dannielle/Desktop/Dobot-Control/Dobot-Control/DobotApp.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 340,
        "y": 1160,
        "wires": [
            [
                "c41882d3c0495394"
            ]
        ]
    },
    {
        "id": "e669e981f9de7d4f",
        "type": "ui_switch",
        "z": "aafced5826385ea7",
        "name": "",
        "label": "Joint",
        "tooltip": "Change Cartesian(OFF) Change Joint(ON)",
        "group": "d9fcd9fe70ec6c0d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1190,
        "y": 1540,
        "wires": [
            [
                "0a1af6bab08b7854"
            ]
        ]
    },
    {
        "id": "0a1af6bab08b7854",
        "type": "change",
        "z": "aafced5826385ea7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "JogMode",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 1540,
        "wires": [
            [
                "8c916866df33811e",
                "2d0944eb03862d0e",
                "d92baadf52c59c31",
                "4f8af9775bd43895",
                "0820450c25b93c46",
                "e8601d8e2fd314ed",
                "d23e05e6fdbce88c",
                "d4fc6ff7b7753334",
                "3ae0b39d023415b6",
                "403f70ff747be14b",
                "4d4f61dd1eabab3c",
                "5174496224e1d659"
            ]
        ]
    },
    {
        "id": "79362d1c73b40e5b",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "Choose Jog Mode",
        "info": "",
        "x": 1210,
        "y": 1420,
        "wires": []
    },
    {
        "id": "1dc9d784aaaf9c47",
        "type": "mqtt in",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/Angle",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1480,
        "wires": [
            [
                "95b7fd0a0af54fdf",
                "61adac78921070b7"
            ]
        ]
    },
    {
        "id": "d66d3765455f87fb",
        "type": "mqtt in",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/Pose",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1620,
        "wires": [
            [
                "2705d43494f45305",
                "9bc5227f8324c7ea"
            ]
        ]
    },
    {
        "id": "95b7fd0a0af54fdf",
        "type": "debug",
        "z": "aafced5826385ea7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1480,
        "wires": []
    },
    {
        "id": "2705d43494f45305",
        "type": "debug",
        "z": "aafced5826385ea7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1620,
        "wires": []
    },
    {
        "id": "61adac78921070b7",
        "type": "change",
        "z": "aafced5826385ea7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Angle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1540,
        "wires": [
            [
                "8ef4876ebfa1ef48"
            ]
        ]
    },
    {
        "id": "8ef4876ebfa1ef48",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "Angle = global.get(\"Angle\")\nlet joint = Angle.slice(1,(Angle.length)-1)\nlet myArr1 = joint.split(\",\")\n\nPose = global.get(\"Pose\")\nlet coordinate = Pose.slice(1,(Pose.length)-1)\nlet myArr2 = coordinate.split(\",\")\n\nmsg.payload = [\n    {\n        \"Type\": \"Joint\", \n        \"J1/X\": myArr1[0],\n        \"J2/Y\": myArr1[1],\n        \"J3/Z\": myArr1[2],\n        \"J4/Rx\": myArr1[3],\n        \"J5/Ry\": myArr1[4],\n        \"J6/Rz\": myArr1[5]\n    },\n    {\n        \"Type\": \"Coord\",\n        \"J1/X\": myArr2[0],\n        \"J2/Y\": myArr2[1],\n        \"J3/Z\": myArr2[2],\n        \"J4/Rx\": myArr2[3],\n        \"J5/Ry\": myArr2[4],\n        \"J6/Rz\": myArr2[5]\n    }\n    ]\n\nreturn msg;\n\n    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1560,
        "wires": [
            [
                "ae419ab2d33b653e"
            ]
        ]
    },
    {
        "id": "9bc5227f8324c7ea",
        "type": "change",
        "z": "aafced5826385ea7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Pose",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1580,
        "wires": [
            [
                "8ef4876ebfa1ef48"
            ]
        ]
    },
    {
        "id": "ae419ab2d33b653e",
        "type": "ui_table",
        "z": "aafced5826385ea7",
        "group": "212f7c3299514e6d",
        "name": "",
        "order": 1,
        "width": 12,
        "height": 3,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 810,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "319db696450d1df4",
        "type": "mqtt in",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/ToggleJog",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 3600,
        "y": 1600,
        "wires": [
            [
                "c3a5d57bb933ff89"
            ]
        ]
    },
    {
        "id": "c3a5d57bb933ff89",
        "type": "debug",
        "z": "aafced5826385ea7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3790,
        "y": 1600,
        "wires": []
    },
    {
        "id": "52cfb25da3b43df9",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J1+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"X+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 160,
        "wires": [
            [
                "08ac3fcce0274a5d"
            ]
        ]
    },
    {
        "id": "bbdf0c22e78300b2",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 240,
        "wires": [
            [
                "52cfb25da3b43df9"
            ]
        ]
    },
    {
        "id": "bb1646c6ebe0049a",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 340,
        "wires": [
            [
                "e49dae8f155de474"
            ]
        ]
    },
    {
        "id": "e49dae8f155de474",
        "type": "template",
        "z": "aafced5826385ea7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 3280,
        "y": 2320,
        "wires": [
            [
                "08ac3fcce0274a5d"
            ]
        ]
    },
    {
        "id": "64247f112516cd77",
        "type": "mqtt in",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/Jog",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 3580,
        "y": 1420,
        "wires": [
            [
                "a9bb66572a235c14"
            ]
        ]
    },
    {
        "id": "08ac3fcce0274a5d",
        "type": "mqtt out",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/Jog",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f6f8c09749e6d95",
        "x": 3580,
        "y": 1480,
        "wires": []
    },
    {
        "id": "a9bb66572a235c14",
        "type": "debug",
        "z": "aafced5826385ea7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3770,
        "y": 1420,
        "wires": []
    },
    {
        "id": "59a972c5957ecbe7",
        "type": "ui_text",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "1.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1320,
        "wires": []
    },
    {
        "id": "8c916866df33811e",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J1+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"X+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1320,
        "wires": [
            [
                "59a972c5957ecbe7"
            ]
        ]
    },
    {
        "id": "61772b4bbd01eb79",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "J1+/X+",
        "info": "",
        "x": 2010,
        "y": 300,
        "wires": []
    },
    {
        "id": "51aff8bdfe2b23a3",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J1-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"X-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 420,
        "wires": [
            [
                "08ac3fcce0274a5d"
            ]
        ]
    },
    {
        "id": "55b41a578a07ce54",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 480,
        "wires": [
            [
                "51aff8bdfe2b23a3"
            ]
        ]
    },
    {
        "id": "9ae4a5015d99a2d5",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 560,
        "wires": [
            [
                "e49dae8f155de474"
            ]
        ]
    },
    {
        "id": "81b82158c9310aee",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "J1-/X-",
        "info": "",
        "x": 2010,
        "y": 520,
        "wires": []
    },
    {
        "id": "08c32a1b79d4279b",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J2+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Y+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 640,
        "wires": [
            [
                "08ac3fcce0274a5d"
            ]
        ]
    },
    {
        "id": "f3d4d5011b00e24c",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 720,
        "wires": [
            [
                "08c32a1b79d4279b"
            ]
        ]
    },
    {
        "id": "ce7f221ff1733f8e",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 800,
        "wires": [
            [
                "e49dae8f155de474"
            ]
        ]
    },
    {
        "id": "c414d059b46e3e5f",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "J2+/Y+",
        "info": "",
        "x": 2010,
        "y": 760,
        "wires": []
    },
    {
        "id": "4e0709d885d9b92a",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J2-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Y-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 880,
        "wires": [
            [
                "08ac3fcce0274a5d"
            ]
        ]
    },
    {
        "id": "8c370173d4a1762d",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 960,
        "wires": [
            [
                "4e0709d885d9b92a"
            ]
        ]
    },
    {
        "id": "7ddfbef3ce7f143a",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 1040,
        "wires": [
            [
                "e49dae8f155de474"
            ]
        ]
    },
    {
        "id": "a5aca23fcc21c23c",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "J2-/Y-",
        "info": "",
        "x": 2010,
        "y": 1000,
        "wires": []
    },
    {
        "id": "b0499cc8379433cb",
        "type": "ui_text",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "1.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1360,
        "wires": []
    },
    {
        "id": "2d0944eb03862d0e",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J1-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"X-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1360,
        "wires": [
            [
                "b0499cc8379433cb"
            ]
        ]
    },
    {
        "id": "62d1a12ccbd6f697",
        "type": "ui_text",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "2.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1400,
        "wires": []
    },
    {
        "id": "d92baadf52c59c31",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J2+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Y+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1400,
        "wires": [
            [
                "62d1a12ccbd6f697"
            ]
        ]
    },
    {
        "id": "1e4b96fe6232ff19",
        "type": "ui_text",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "order": 8,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "2.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1440,
        "wires": []
    },
    {
        "id": "4f8af9775bd43895",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J2-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Y-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1440,
        "wires": [
            [
                "1e4b96fe6232ff19"
            ]
        ]
    },
    {
        "id": "245b40f9145a1c0c",
        "type": "inject",
        "z": "aafced5826385ea7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1190,
        "y": 1480,
        "wires": [
            [
                "0a1af6bab08b7854",
                "e669e981f9de7d4f"
            ]
        ]
    },
    {
        "id": "5f351527f69fc918",
        "type": "ui_text",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "order": 10,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "3.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1480,
        "wires": []
    },
    {
        "id": "0820450c25b93c46",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J3+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Z+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1480,
        "wires": [
            [
                "5f351527f69fc918"
            ]
        ]
    },
    {
        "id": "5a84b133e022dc81",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J3+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Z+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 1120,
        "wires": [
            [
                "08ac3fcce0274a5d"
            ]
        ]
    },
    {
        "id": "19e60b74be76edc8",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 1200,
        "wires": [
            [
                "5a84b133e022dc81"
            ]
        ]
    },
    {
        "id": "d7a4229b20e9ab5b",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 1280,
        "wires": [
            [
                "e49dae8f155de474"
            ]
        ]
    },
    {
        "id": "d00a6889e63e8520",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "J3+/Z+",
        "info": "",
        "x": 2010,
        "y": 1240,
        "wires": []
    },
    {
        "id": "e738da6093b1cf6a",
        "type": "ui_text",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "order": 12,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "3.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1520,
        "wires": []
    },
    {
        "id": "e8601d8e2fd314ed",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J3-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Z-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1520,
        "wires": [
            [
                "e738da6093b1cf6a"
            ]
        ]
    },
    {
        "id": "1290a96e48f175ab",
        "type": "ui_text",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "order": 14,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "4.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1560,
        "wires": []
    },
    {
        "id": "d23e05e6fdbce88c",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J4+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RX+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1560,
        "wires": [
            [
                "1290a96e48f175ab"
            ]
        ]
    },
    {
        "id": "5d78580e2cf8a36c",
        "type": "ui_text",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "order": 16,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "4.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1600,
        "wires": []
    },
    {
        "id": "d4fc6ff7b7753334",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J4-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RX-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1600,
        "wires": [
            [
                "5d78580e2cf8a36c"
            ]
        ]
    },
    {
        "id": "2006e90ef9e966f2",
        "type": "ui_text",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "order": 18,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "5.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1640,
        "wires": []
    },
    {
        "id": "3ae0b39d023415b6",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J5+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RY+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1640,
        "wires": [
            [
                "2006e90ef9e966f2"
            ]
        ]
    },
    {
        "id": "cfbcb1e7d67a844c",
        "type": "ui_text",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "order": 20,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "5.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1680,
        "wires": []
    },
    {
        "id": "403f70ff747be14b",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J5-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RY-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1680,
        "wires": [
            [
                "cfbcb1e7d67a844c"
            ]
        ]
    },
    {
        "id": "5358406b895f139a",
        "type": "ui_text",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "order": 22,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "6.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1720,
        "wires": []
    },
    {
        "id": "4d4f61dd1eabab3c",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J6+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RZ+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1720,
        "wires": [
            [
                "5358406b895f139a"
            ]
        ]
    },
    {
        "id": "cb17fc06a02dfa4c",
        "type": "ui_text",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "order": 24,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "6.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1760,
        "wires": []
    },
    {
        "id": "5174496224e1d659",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J6-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RZ-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1760,
        "wires": [
            [
                "cb17fc06a02dfa4c"
            ]
        ]
    },
    {
        "id": "168fa691ea3096cf",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J3-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Z-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 1360,
        "wires": [
            [
                "08ac3fcce0274a5d"
            ]
        ]
    },
    {
        "id": "caa7b5f95c561887",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 1440,
        "wires": [
            [
                "168fa691ea3096cf"
            ]
        ]
    },
    {
        "id": "8ef7165610191daf",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 1520,
        "wires": [
            [
                "e49dae8f155de474"
            ]
        ]
    },
    {
        "id": "4bbff94dee4383a0",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "J3-/Z-",
        "info": "",
        "x": 2010,
        "y": 1480,
        "wires": []
    },
    {
        "id": "c9e2a0a2903e61c5",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J4+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Rx+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 1600,
        "wires": [
            [
                "08ac3fcce0274a5d"
            ]
        ]
    },
    {
        "id": "09514bdc651f7de4",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 1680,
        "wires": [
            [
                "c9e2a0a2903e61c5"
            ]
        ]
    },
    {
        "id": "fbf915461480cc23",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 1780,
        "wires": [
            [
                "e49dae8f155de474"
            ]
        ]
    },
    {
        "id": "e97ad97e484fc4ca",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "J4+/RX+",
        "info": "",
        "x": 2020,
        "y": 1740,
        "wires": []
    },
    {
        "id": "fc11a8a9337417d0",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J4-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Rx-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 1860,
        "wires": [
            [
                "08ac3fcce0274a5d"
            ]
        ]
    },
    {
        "id": "6191b0acb732185d",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 1920,
        "wires": [
            [
                "fc11a8a9337417d0"
            ]
        ]
    },
    {
        "id": "bcb384155769af98",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2000,
        "wires": [
            [
                "e49dae8f155de474"
            ]
        ]
    },
    {
        "id": "a7a19b55243ae037",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "J4-/RX-",
        "info": "",
        "x": 2010,
        "y": 1960,
        "wires": []
    },
    {
        "id": "bba8e16c8179c4b5",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J5+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Ry+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 2080,
        "wires": [
            [
                "08ac3fcce0274a5d"
            ]
        ]
    },
    {
        "id": "7cd131bc44975c28",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2160,
        "wires": [
            [
                "bba8e16c8179c4b5"
            ]
        ]
    },
    {
        "id": "a81df610d5f05557",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2240,
        "wires": [
            [
                "e49dae8f155de474"
            ]
        ]
    },
    {
        "id": "ebe2cc0bb6e4f1cc",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "J5+/Ry+",
        "info": "",
        "x": 2020,
        "y": 2200,
        "wires": []
    },
    {
        "id": "865d129b8bc45d7c",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J5-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Ry-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 2320,
        "wires": [
            [
                "08ac3fcce0274a5d"
            ]
        ]
    },
    {
        "id": "4e4c9f9c10bafa21",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2400,
        "wires": [
            [
                "865d129b8bc45d7c"
            ]
        ]
    },
    {
        "id": "bbc7032c35d3a0ce",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2480,
        "wires": [
            [
                "e49dae8f155de474"
            ]
        ]
    },
    {
        "id": "62aeef35cdc7f623",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "J5-/Ry-",
        "info": "",
        "x": 2010,
        "y": 2440,
        "wires": []
    },
    {
        "id": "dc7248ad403d6fd1",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J6+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Rz+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 2560,
        "wires": [
            [
                "08ac3fcce0274a5d"
            ]
        ]
    },
    {
        "id": "06e4bbb9c02c6721",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2640,
        "wires": [
            [
                "dc7248ad403d6fd1"
            ]
        ]
    },
    {
        "id": "d5af92f10b3fc30c",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2720,
        "wires": [
            [
                "e49dae8f155de474"
            ]
        ]
    },
    {
        "id": "e1c68cd22cc99638",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "J6+/RZ+",
        "info": "",
        "x": 2020,
        "y": 2680,
        "wires": []
    },
    {
        "id": "810bffbb97361509",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J6-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Rz-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 2800,
        "wires": [
            [
                "08ac3fcce0274a5d"
            ]
        ]
    },
    {
        "id": "8da09f841c98dac5",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2880,
        "wires": [
            [
                "810bffbb97361509"
            ]
        ]
    },
    {
        "id": "077759363bf61761",
        "type": "switch",
        "z": "aafced5826385ea7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2960,
        "wires": [
            [
                "e49dae8f155de474"
            ]
        ]
    },
    {
        "id": "9f5d0d0ce923e6a3",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "J6-/RZ-",
        "info": "",
        "x": 2010,
        "y": 2920,
        "wires": []
    },
    {
        "id": "9020fc4297f0f928",
        "type": "ui_led",
        "z": "aafced5826385ea7",
        "order": 2,
        "group": "bdf59e834372100b",
        "width": 1,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Terminate",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "RunApp",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 950,
        "y": 940,
        "wires": []
    },
    {
        "id": "deadce14fb6eb6e4",
        "type": "template",
        "z": "aafced5826385ea7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "RunApp",
        "output": "str",
        "x": 380,
        "y": 1020,
        "wires": [
            [
                "42efad8e73e18b1d"
            ]
        ]
    },
    {
        "id": "5f052460dbce6c6f",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "status = flow.get(\"payload\")\nif (status == \"Terminate\")\n{\n    msg.payload == \"false\"\n}\nelse if (status == \"RunApp\")\n{\n    msg.payload == \"true\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 940,
        "wires": [
            [
                "9020fc4297f0f928"
            ]
        ]
    },
    {
        "id": "42efad8e73e18b1d",
        "type": "change",
        "z": "aafced5826385ea7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "flow",
                "to": "payload",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 940,
        "wires": [
            [
                "5f052460dbce6c6f"
            ]
        ]
    },
    {
        "id": "5fe8b08aea66052e",
        "type": "inject",
        "z": "aafced5826385ea7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Terminate",
        "payloadType": "str",
        "x": 760,
        "y": 1040,
        "wires": [
            [
                "9020fc4297f0f928"
            ]
        ]
    },
    {
        "id": "c41882d3c0495394",
        "type": "debug",
        "z": "aafced5826385ea7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1160,
        "wires": []
    },
    {
        "id": "6a76711fb18209de",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "Get Angle and Pose data",
        "info": "",
        "x": 170,
        "y": 1420,
        "wires": []
    },
    {
        "id": "e3a62c7679459d1e",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "msg.payload = [\n    {\n        \"Type\": \"Joint\", \n        \"J1/X\": \"0\",\n        \"J2/Y\": \"0\",\n        \"J3/Z\": \"0\",\n        \"J4/Rx\": \"0\",\n        \"J5/Ry\": \"0\",\n        \"J6/Rz\": \"0\"\n    },\n    {\n        \"Type\": \"Coord\",\n        \"J1/X\": \"0\",\n        \"J2/Y\": \"0\",\n        \"J3/Z\": \"0\",\n        \"J4/Rx\": \"0\",\n        \"J5/Ry\": \"0\",\n        \"J6/Rz\": \"0\"\n    }\n    ]\n\nreturn msg;\n\n    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1380,
        "wires": [
            [
                "ae419ab2d33b653e",
                "a534bfad64eb214d"
            ]
        ]
    },
    {
        "id": "5e6170d87cb94126",
        "type": "inject",
        "z": "aafced5826385ea7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 410,
        "y": 1380,
        "wires": [
            [
                "e3a62c7679459d1e"
            ]
        ]
    },
    {
        "id": "3c9270d52dd55134",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "path = global.get(\"path\")\nsend = \"\"\nfullpath = send.concat(\"\\\"\",path,\"\\\"\")\nmsg.payload = fullpath\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 940,
        "wires": [
            [
                "5e8528108c6a8802",
                "db09176e96a1b22a"
            ]
        ]
    },
    {
        "id": "279b4d21d1c3eb6d",
        "type": "change",
        "z": "aafced5826385ea7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "path",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 860,
        "wires": [
            [
                "3c9270d52dd55134"
            ]
        ]
    },
    {
        "id": "d28441343da94249",
        "type": "debug",
        "z": "aafced5826385ea7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 780,
        "wires": []
    },
    {
        "id": "22ae41ebb453a953",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "Run Python File",
        "info": "",
        "x": 100,
        "y": 820,
        "wires": []
    },
    {
        "id": "20013de88026b5a1",
        "type": "mqtt in",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/Angle",
        "qos": "2",
        "datatype": "auto",
        "broker": "b5228ecf2ba8b16a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1960,
        "wires": [
            [
                "5e515d66137ebeb6"
            ]
        ]
    },
    {
        "id": "cef9361f739a8e95",
        "type": "mqtt in",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/Pose",
        "qos": "2",
        "datatype": "auto",
        "broker": "b5228ecf2ba8b16a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 2060,
        "wires": [
            [
                "2e7a493005c9f1ba"
            ]
        ]
    },
    {
        "id": "a534bfad64eb214d",
        "type": "ui_table",
        "z": "aafced5826385ea7",
        "group": "cfab6dd37ac3a75c",
        "name": "",
        "order": 1,
        "width": 9,
        "height": 3,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 870,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "5e515d66137ebeb6",
        "type": "change",
        "z": "aafced5826385ea7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "jointAngle",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1960,
        "wires": [
            [
                "766c59a832136806",
                "a9ca1e05ecd355da"
            ]
        ]
    },
    {
        "id": "2e7a493005c9f1ba",
        "type": "change",
        "z": "aafced5826385ea7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pose",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2060,
        "wires": [
            [
                "766c59a832136806",
                "a9ca1e05ecd355da"
            ]
        ]
    },
    {
        "id": "766c59a832136806",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "let angle = flow.get(\"jointAngle\");\nlet pose = flow.get(\"pose\");\n\nlet angleStr = angle.slice(1,angle.length-1);\nlet angleArray = angleStr.split(\",\");\n\nlet poseStr = pose.slice(1,angle.length-1);\nlet poseArray = poseStr.split(\",\");\n\nmsg.payload = [\n    {\n        J1_x : angleArray[0],\n        J2_y : angleArray[1],\n        J3_z : angleArray[2],\n        J4_Rx : angleArray[3],\n        J5_Ry : angleArray[4],\n        J6_Rz : angleArray[5]\n    },\n    {\n        J1_x : poseArray[0],\n        J2_y : poseArray[1],\n        J3_z : poseArray[2],\n        J4_Rx : poseArray[3],\n        J5_Ry : poseArray[4],\n        J6_Rz : poseArray[5]\n    }\n];\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1940,
        "wires": [
            [
                "a534bfad64eb214d"
            ]
        ]
    },
    {
        "id": "5fd609a79daa40a0",
        "type": "ui_button",
        "z": "aafced5826385ea7",
        "name": "",
        "group": "c60bcee9cc384a91",
        "order": 1,
        "width": 9,
        "height": 1,
        "passthru": false,
        "label": "Save Points",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "savePoints",
        "topicType": "str",
        "x": 110,
        "y": 2200,
        "wires": [
            [
                "a9ca1e05ecd355da"
            ]
        ]
    },
    {
        "id": "a9ca1e05ecd355da",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "\nlet angle = flow.get(\"jointAngle\");\nlet pose = flow.get(\"pose\");\n\n\nlet angleStr = angle.slice(1,angle.length-1);\nlet angleArray = angleStr.split(\",\");\n\n\nlet poseStr = pose.slice(1,angle.length-1);\nlet poseArray = poseStr.split(\",\");\n\nvar storeArray = flow.get(\"storeArray\") || [];\nvar clearArray = flow.get(\"clearArray\") || \"\";\nvar counter = flow.get(\"counter\") || 0;\nvar delete_rowNum = global.get(\"delete_rowNum\") || 0; \nvar cover_rowNum = global.get(\"cover_rowNum\") || 0;\n\n//var optionsArr = flow.get(\"optionsArr\") || [];\n\n\nif(msg.topic == \"savePoints\")\n{\n    if ((storeArray.length == 0 ) || (clearArray == 1))\n    {\n        counter++;\n        //optionsArr = [counter];\n        storeArray = [\n        {\n            Points: counter,\n            J1_x : angleArray[0],\n            J2_y : angleArray[1],\n            J3_z : angleArray[2],\n            J4_Rx : angleArray[3],\n            J5_Ry : angleArray[4],\n            J6_Rz : angleArray[5]\n            \n        },\n        {\n            Points: \"\",\n            J1_x : poseArray[0],\n            J2_y : poseArray[1],\n            J3_z : poseArray[2],\n            J4_Rx : poseArray[3],\n            J5_Ry : poseArray[4],\n            J6_Rz : poseArray[5]\n        }\n        ];\n        clearArray = 0;\n    }\n    else\n    {\n        counter++;\n        //optionsArr.push(counter);\n        storeArray.push(\n            {\n                Points:counter,\n                J1_x : angleArray[0],\n                J2_y : angleArray[1],\n                J3_z : angleArray[2],\n                J4_Rx : angleArray[3],\n                J5_Ry : angleArray[4],\n                J6_Rz : angleArray[5]\n                \n            },\n            {\n                Points: \"\",\n                J1_x : poseArray[0],\n                J2_y : poseArray[1],\n                J3_z : poseArray[2],\n                J4_Rx : poseArray[3],\n                J5_Ry : poseArray[4],\n                J6_Rz : poseArray[5]\n                \n            }\n        )\n    }\n}\nelse if (msg.topic == \"deletePoint\")\n{\n    storeArray[delete_rowNum].J1_x =0;\n    storeArray[delete_rowNum].J2_y =0;\n    storeArray[delete_rowNum].J3_z =0;\n    storeArray[delete_rowNum].J4_Rx =0;\n    storeArray[delete_rowNum].J5_Ry =0;\n    storeArray[delete_rowNum].J6_Rz =0;\n    \n\n    storeArray[delete_rowNum+1] = \n    {\n        J1_x :0,\n        J2_y :0,\n        J3_z :0,\n        J4_Rx :0,\n        J5_Ry :0,\n        J6_Rz :0,\n    }\n}\nelse if(msg.topic == \"cover\")\n{\n    storeArray[cover_rowNum].J1_x =angleArray[0];\n    storeArray[cover_rowNum].J2_y =angleArray[1];\n    storeArray[cover_rowNum].J3_z =angleArray[2];\n    storeArray[cover_rowNum].J4_Rx =angleArray[3];\n    storeArray[cover_rowNum].J5_Ry =angleArray[4];\n    storeArray[cover_rowNum].J6_Rz =angleArray[5];\n    \n\n    storeArray[cover_rowNum+1] = \n    {\n        J1_x :poseArray[0],\n        J2_y :poseArray[1],\n        J3_z :poseArray[2],\n        J4_Rx :poseArray[3],\n        J5_Ry :poseArray[4],\n        J6_Rz :poseArray[5],\n    }\n}\n\n\nflow.set(\"storeArray\", storeArray);\nflow.set(\"clearArray\", clearArray);\nflow.set(\"counter\",counter);\n\n//flow.set(\"optionsArr\", optionsArr);\n//msg.options = optionsArr; \nmsg.payload = storeArray;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 2060,
        "wires": [
            [
                "b34f589b647a4de5",
                "e7ee87cb9e38c25c"
            ]
        ]
    },
    {
        "id": "b34f589b647a4de5",
        "type": "debug",
        "z": "aafced5826385ea7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 2000,
        "wires": []
    },
    {
        "id": "c58c5e41ffb7a758",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "var storeArray = flow.get(\"storeArray\") || [];\nvar clearArray = flow.get(\"clearArray\") || \"\"; \nvar counter = flow.get(\"counter\") || 0;\nif (msg.topic == \"reset\")\n{\n    storeArray = [\n        {\n            Points :\"\",\n            J1_x :\"\",\n            J2_y : \"\",\n            J3_z : \"\",\n            J4_Rx : \"\",\n            J5_Ry : \"\",\n            J6_Rz : \"\"\n        },\n        {\n            J1_x :\"\",\n            J2_y : \"\",\n            J3_z : \"\",\n            J4_Rx : \"\",\n            J5_Ry : \"\",\n            J6_Rz : \"\"\n        }\n    ];\n    clearArray = 1;\n    counter = 0;\n}\n\nflow.set(\"storeArray\", storeArray);\nflow.set(\"clearArray\", clearArray);\nflow.set(\"counter\", counter);\nmsg.payload = storeArray;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 2100,
        "wires": [
            [
                "e7ee87cb9e38c25c"
            ]
        ]
    },
    {
        "id": "46fae62ccb1b7f3e",
        "type": "ui_button",
        "z": "aafced5826385ea7",
        "name": "",
        "group": "c60bcee9cc384a91",
        "order": 2,
        "width": 9,
        "height": 1,
        "passthru": false,
        "label": "reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "reset",
        "topicType": "str",
        "x": 130,
        "y": 2240,
        "wires": [
            [
                "c58c5e41ffb7a758"
            ]
        ]
    },
    {
        "id": "f5a30dea20d03cd7",
        "type": "mqtt out",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/CoreFunc",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f6f8c09749e6d95",
        "x": 780,
        "y": 2720,
        "wires": []
    },
    {
        "id": "e7ee87cb9e38c25c",
        "type": "ui_table",
        "z": "aafced5826385ea7",
        "group": "c60bcee9cc384a91",
        "name": "",
        "order": 3,
        "width": 9,
        "height": 8,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 1110,
        "y": 2080,
        "wires": [
            [
                "993d612165070fd3",
                "0f06d024fa0a6d61"
            ]
        ]
    },
    {
        "id": "31257e6981ddde31",
        "type": "inject",
        "z": "aafced5826385ea7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 970,
        "y": 2260,
        "wires": [
            [
                "0f06d024fa0a6d61"
            ]
        ]
    },
    {
        "id": "0f06d024fa0a6d61",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "var storeArray = flow.get(\"storeArray\") || [];\n\nlet rowNum = 0;\nrowNum = msg.row;\n\nif((rowNum+1)%2 == 0)\n{\n    rowNum = rowNum -1;\n}\n\n\nlet point = [storeArray[rowNum].J1_x, storeArray[rowNum].J2_y, storeArray[rowNum].J3_z, storeArray[rowNum].J4_Rx, storeArray[rowNum].J5_Ry, storeArray[rowNum].J6_Rz]\n\npointStr = point.toString(point)\n\nmsg.payload = pointStr; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 2220,
        "wires": [
            [
                "6b6c66d41901415a",
                "08dbe0a6d62ebb51"
            ]
        ]
    },
    {
        "id": "6b6c66d41901415a",
        "type": "mqtt out",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/runTo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "62a9400db3990b17",
        "x": 1410,
        "y": 2220,
        "wires": []
    },
    {
        "id": "08dbe0a6d62ebb51",
        "type": "debug",
        "z": "aafced5826385ea7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 2280,
        "wires": []
    },
    {
        "id": "7339321cda571e09",
        "type": "ui_text",
        "z": "aafced5826385ea7",
        "group": "cfab6dd37ac3a75c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Selected point:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1780,
        "y": 2100,
        "wires": []
    },
    {
        "id": "993d612165070fd3",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "let rowNum = 0;\nrowNum = msg.row;\nif (rowNum%2 != 0)\n{\n    rowNum = (rowNum-1)/2 +1;\n}\nelse\n{\n    rowNum = rowNum/2 + 1;\n}\n\n\n\nmsg.payload = rowNum; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 2080,
        "wires": [
            [
                "7339321cda571e09",
                "c06ac841e47a7923",
                "018c5fbd7bfdc029",
                "a437b29469d01c7d"
            ]
        ]
    },
    {
        "id": "52db9395690bc27e",
        "type": "mqtt in",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/break",
        "qos": "2",
        "datatype": "auto",
        "broker": "407a01e4.6b637",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1680,
        "wires": [
            [
                "f889d7eaae24dfca",
                "7de1b6dc82cdbc90",
                "8583b58c49d011cc",
                "0a32818ae1e6bd90"
            ]
        ]
    },
    {
        "id": "f889d7eaae24dfca",
        "type": "mqtt out",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/Break",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 530,
        "y": 1680,
        "wires": []
    },
    {
        "id": "7de1b6dc82cdbc90",
        "type": "debug",
        "z": "aafced5826385ea7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1760,
        "wires": []
    },
    {
        "id": "8583b58c49d011cc",
        "type": "ui_text",
        "z": "aafced5826385ea7",
        "group": "cfab6dd37ac3a75c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 530,
        "y": 1820,
        "wires": []
    },
    {
        "id": "0a32818ae1e6bd90",
        "type": "delay",
        "z": "aafced5826385ea7",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 180,
        "y": 1880,
        "wires": [
            [
                "175424f99db223cb"
            ]
        ]
    },
    {
        "id": "175424f99db223cb",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "msg.payload = \"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1880,
        "wires": [
            [
                "8583b58c49d011cc"
            ]
        ]
    },
    {
        "id": "43792920458c10f8",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "Save Teach Points",
        "info": "",
        "x": 1130,
        "y": 2040,
        "wires": []
    },
    {
        "id": "db09176e96a1b22a",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "if (msg)\n{\n    msg.payload = true\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 700,
        "wires": [
            [
                "526e1f59848cf408"
            ]
        ]
    },
    {
        "id": "67e37b6ca58ecfc7",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "msg.payload = [\n    {\n        \"Type\": \"Joint\", \n        \"J1/X\": \"\",\n        \"J2/Y\": \"\",\n        \"J3/Z\": \"\",\n        \"J4/Rx\": \"\",\n        \"J5/Ry\": \"\",\n        \"J6/Rz\": \"\"\n    },\n    {\n        \"Type\": \"Coord\",\n        \"J1/X\": \"\",\n        \"J2/Y\": \"\",\n        \"J3/Z\": \"\",\n        \"J4/Rx\": \"\",\n        \"J5/Ry\": \"\",\n        \"J6/Rz\": \"\"\n    }\n    ]\n\nreturn msg;\n\n    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1820,
        "wires": [
            [
                "e7ee87cb9e38c25c"
            ]
        ]
    },
    {
        "id": "f8bc24599ee3e386",
        "type": "inject",
        "z": "aafced5826385ea7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 850,
        "y": 1680,
        "wires": [
            [
                "67e37b6ca58ecfc7",
                "672a13021d69d20b"
            ]
        ]
    },
    {
        "id": "672a13021d69d20b",
        "type": "template",
        "z": "aafced5826385ea7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "None",
        "output": "str",
        "x": 1380,
        "y": 1920,
        "wires": [
            [
                "7339321cda571e09"
            ]
        ]
    },
    {
        "id": "abd661319b54884b",
        "type": "ui_template",
        "z": "aafced5826385ea7",
        "group": "cfab6dd37ac3a75c",
        "name": "MoveTo",
        "order": 4,
        "width": 9,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: 'Start'})\" ng-mouseup=\"send({payload: 'Stop'})\"><i class=\"material-icons\"> accessible_forward </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 140,
        "y": 2440,
        "wires": [
            [
                "ad5452024490cb33",
                "478b5dd4d1c02e41"
            ]
        ]
    },
    {
        "id": "ad5452024490cb33",
        "type": "debug",
        "z": "aafced5826385ea7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 2420,
        "wires": []
    },
    {
        "id": "478b5dd4d1c02e41",
        "type": "change",
        "z": "aafced5826385ea7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "MoveTo",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 2340,
        "wires": [
            [
                "1b8a290294339ced"
            ]
        ]
    },
    {
        "id": "9d85b83f07a6b8f9",
        "type": "ui_template",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "name": "1.1",
        "order": 3,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 380,
        "wires": [
            [
                "bb1646c6ebe0049a",
                "bbdf0c22e78300b2"
            ]
        ]
    },
    {
        "id": "a6b9c3fece967f82",
        "type": "ui_template",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "name": "1.2",
        "order": 5,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 600,
        "wires": [
            [
                "55b41a578a07ce54",
                "9ae4a5015d99a2d5"
            ]
        ]
    },
    {
        "id": "cd1a186a15deae18",
        "type": "ui_template",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "name": "2.1",
        "order": 7,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 840,
        "wires": [
            [
                "f3d4d5011b00e24c",
                "ce7f221ff1733f8e"
            ]
        ]
    },
    {
        "id": "bfcc3c1e68305a07",
        "type": "ui_template",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "name": "2.2",
        "order": 9,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 1080,
        "wires": [
            [
                "8c370173d4a1762d",
                "7ddfbef3ce7f143a"
            ]
        ]
    },
    {
        "id": "66bab589694255b9",
        "type": "ui_template",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "name": "3.1",
        "order": 11,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 1320,
        "wires": [
            [
                "19e60b74be76edc8",
                "d7a4229b20e9ab5b"
            ]
        ]
    },
    {
        "id": "b53e84e4e5f77b59",
        "type": "ui_template",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "name": "3.2",
        "order": 13,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 1560,
        "wires": [
            [
                "caa7b5f95c561887",
                "8ef7165610191daf"
            ]
        ]
    },
    {
        "id": "5368ed1b6bbce4eb",
        "type": "ui_template",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "name": "4.1",
        "order": 15,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 1820,
        "wires": [
            [
                "09514bdc651f7de4",
                "fbf915461480cc23"
            ]
        ]
    },
    {
        "id": "c67962c66140defa",
        "type": "ui_template",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "name": "4.2",
        "order": 17,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 2040,
        "wires": [
            [
                "6191b0acb732185d",
                "bcb384155769af98"
            ]
        ]
    },
    {
        "id": "6af7199d05bb8849",
        "type": "ui_template",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "name": "5.1",
        "order": 19,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 2280,
        "wires": [
            [
                "7cd131bc44975c28",
                "a81df610d5f05557"
            ]
        ]
    },
    {
        "id": "b955ad7bd3d03f03",
        "type": "ui_template",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "name": "5.2",
        "order": 21,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 2520,
        "wires": [
            [
                "4e4c9f9c10bafa21",
                "bbc7032c35d3a0ce"
            ]
        ]
    },
    {
        "id": "288cf2ba403c152b",
        "type": "ui_template",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "name": "6.1",
        "order": 23,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 2760,
        "wires": [
            [
                "06e4bbb9c02c6721",
                "d5af92f10b3fc30c"
            ]
        ]
    },
    {
        "id": "dd6a2945e57872de",
        "type": "ui_template",
        "z": "aafced5826385ea7",
        "group": "d9fcd9fe70ec6c0d",
        "name": "6.2",
        "order": 25,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 3000,
        "wires": [
            [
                "8da09f841c98dac5",
                "077759363bf61761"
            ]
        ]
    },
    {
        "id": "ea08e5d911c88f60",
        "type": "ui_switch",
        "z": "aafced5826385ea7",
        "name": "",
        "label": "Enable Robot",
        "tooltip": "",
        "group": "bdf59e834372100b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "Enable",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Disable",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 500,
        "y": 2720,
        "wires": [
            [
                "f5a30dea20d03cd7"
            ]
        ]
    },
    {
        "id": "3c665189aa9034da",
        "type": "ui_button",
        "z": "aafced5826385ea7",
        "name": "",
        "group": "bdf59e834372100b",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Error",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ClearErr",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 510,
        "y": 2780,
        "wires": [
            [
                "f5a30dea20d03cd7"
            ]
        ]
    },
    {
        "id": "51230c56760614d6",
        "type": "ui_button",
        "z": "aafced5826385ea7",
        "name": "",
        "group": "cfab6dd37ac3a75c",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Delete point",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "deletePoint",
        "topicType": "str",
        "x": 110,
        "y": 2160,
        "wires": [
            [
                "a9ca1e05ecd355da"
            ]
        ]
    },
    {
        "id": "5f40dea0247e4683",
        "type": "ui_button",
        "z": "aafced5826385ea7",
        "name": "",
        "group": "cfab6dd37ac3a75c",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Cover",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "cover",
        "topicType": "str",
        "x": 130,
        "y": 2120,
        "wires": [
            [
                "a9ca1e05ecd355da"
            ]
        ]
    },
    {
        "id": "a437b29469d01c7d",
        "type": "ui_text_input",
        "z": "aafced5826385ea7",
        "name": "",
        "label": "Delete:",
        "tooltip": "",
        "group": "cfab6dd37ac3a75c",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1760,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "c06ac841e47a7923",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "var storeArray = flow.get(\"storeArray\") || [];\nvar delete_rowNum = global.get(\"delete_rowNum\") || 0;\nvar cover_rowNum = global.get(\"cover_rowNum\") || 0;\n\nvar tablerowNum = 0; \ntablerowNum = msg.payload;\ndelete_rowNum = tablerowNum*2 - 2;\ncover_rowNum = tablerowNum*2 - 2;\n\nflow.set(\"storeArray\", storeArray);\nglobal.set(\"delete_rowNum\", delete_rowNum);\nglobal.set(\"cover_rowNum\", cover_rowNum);\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "018c5fbd7bfdc029",
        "type": "ui_text_input",
        "z": "aafced5826385ea7",
        "name": "",
        "label": "Cover:",
        "tooltip": "",
        "group": "cfab6dd37ac3a75c",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1750,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "db48fbca10af4ce4",
        "type": "template",
        "z": "aafced5826385ea7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Run",
        "output": "str",
        "x": 440,
        "y": 1260,
        "wires": [
            [
                "6c154092498ef314"
            ]
        ]
    },
    {
        "id": "6c154092498ef314",
        "type": "change",
        "z": "aafced5826385ea7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Lock",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 1140,
        "wires": [
            [
                "113d91827b8d9784"
            ]
        ]
    },
    {
        "id": "3168f431b87069ff",
        "type": "mqtt in",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/CoreFunc",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 780,
        "y": 2660,
        "wires": [
            [
                "3d2961a99ea99dca"
            ]
        ]
    },
    {
        "id": "3d2961a99ea99dca",
        "type": "debug",
        "z": "aafced5826385ea7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 2720,
        "wires": []
    },
    {
        "id": "ba6aaea2f0e2d56d",
        "type": "debug",
        "z": "aafced5826385ea7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 2800,
        "wires": []
    },
    {
        "id": "113d91827b8d9784",
        "type": "link out",
        "z": "aafced5826385ea7",
        "name": "",
        "mode": "link",
        "links": [
            "b4f033732ef29986"
        ],
        "x": 1355,
        "y": 1140,
        "wires": []
    },
    {
        "id": "b4f033732ef29986",
        "type": "link in",
        "z": "aafced5826385ea7",
        "name": "",
        "links": [
            "113d91827b8d9784"
        ],
        "x": 95,
        "y": 2640,
        "wires": [
            [
                "be8928d08f7696e7"
            ]
        ]
    },
    {
        "id": "1b8a290294339ced",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "Status = global.get(\"MoveTo\");\nif (Status == \"Start\")\n{\n    msg.payload = \"GO\";\n}\nelse if (Status == \"Stop\")\n{\n    msg.payload = \"NOGO\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 2340,
        "wires": [
            [
                "802572300bd7fd49"
            ]
        ]
    },
    {
        "id": "802572300bd7fd49",
        "type": "mqtt out",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/TPMove",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f6f8c09749e6d95",
        "x": 820,
        "y": 2340,
        "wires": []
    },
    {
        "id": "9185bbae950954d1",
        "type": "mqtt in",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/TPMove",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 2400,
        "wires": [
            [
                "4b121c5aa27a9ad7"
            ]
        ]
    },
    {
        "id": "4b121c5aa27a9ad7",
        "type": "debug",
        "z": "aafced5826385ea7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 2400,
        "wires": []
    },
    {
        "id": "be8928d08f7696e7",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "Status = global.get(\"Lock\")\nif (Status == \"Run\")\n{\n    msg.payload = \"Enable\"\n}\nelse if (Status == \"Terminate\")\n{\n    msg.payload = \"Disable\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 2720,
        "wires": [
            [
                "ba6aaea2f0e2d56d",
                "ea08e5d911c88f60"
            ]
        ]
    },
    {
        "id": "b928907b34609688",
        "type": "comment",
        "z": "aafced5826385ea7",
        "name": "Lock/unlock joints + clear error",
        "info": "",
        "x": 300,
        "y": 2600,
        "wires": []
    },
    {
        "id": "093b47cc3ab2507d",
        "type": "mqtt out",
        "z": "aafced5826385ea7",
        "name": "",
        "topic": "topic/newPoint",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 1420,
        "y": 2160,
        "wires": []
    },
    {
        "id": "ec25d3f5102a9a70",
        "type": "debug",
        "z": "aafced5826385ea7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 2120,
        "wires": []
    },
    {
        "id": "d63ba291e11015b4",
        "type": "function",
        "z": "aafced5826385ea7",
        "name": "",
        "func": "let point = [msg.payload.J1_x, msg.payload.J2_y, msg.payload.J3_z, msg.payload.J4_Rx, msg.payload.J5_Ry, msg.payload.J6_Rz]\n\npointStr = point.toString(point)\n\nmsg.payload = pointStr; \n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 2160,
        "wires": [
            [
                "093b47cc3ab2507d",
                "ec25d3f5102a9a70"
            ]
        ]
    },
    {
        "id": "6603aee258da14a6",
        "type": "ui_spacer",
        "z": "aafced5826385ea7",
        "name": "spacer",
        "group": "cfab6dd37ac3a75c",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "3dca0f32eed3c364",
        "type": "ui_spacer",
        "z": "aafced5826385ea7",
        "name": "spacer",
        "group": "cfab6dd37ac3a75c",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "9513f97c8f62a13b",
        "type": "ui_group",
        "name": "Modbus Commands",
        "tab": "eb5697cbd559ae08",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63d69422.2169ac",
        "type": "modbus-client",
        "name": "Dobot controller",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "tcpHost": "192.168.5.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": "0",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "0f421e103d692423",
        "type": "ui_group",
        "name": "Run Python",
        "tab": "eb5697cbd559ae08",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f6f8c09749e6d95",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bdf59e834372100b",
        "type": "ui_group",
        "name": "App Commands",
        "tab": "eb5697cbd559ae08",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d9fcd9fe70ec6c0d",
        "type": "ui_group",
        "name": "Jog",
        "tab": "50c0c6fec91170a1",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "212f7c3299514e6d",
        "type": "ui_group",
        "name": "Position Data",
        "tab": "50c0c6fec91170a1",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5228ecf2ba8b16a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cfab6dd37ac3a75c",
        "type": "ui_group",
        "name": "Current Position",
        "tab": "911b7cb46c0bd7aa",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c60bcee9cc384a91",
        "type": "ui_group",
        "name": "Teach Points",
        "tab": "911b7cb46c0bd7aa",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62a9400db3990b17",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "407a01e4.6b637",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "eb5697cbd559ae08",
        "type": "ui_tab",
        "name": "Dobot_CR5 Control",
        "icon": "mi-precision_manufacturing",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "50c0c6fec91170a1",
        "type": "ui_tab",
        "name": "Jog",
        "icon": "mi-directions_walk",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "911b7cb46c0bd7aa",
        "type": "ui_tab",
        "name": "Teach Points",
        "icon": "mi-assignment_ind",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]