flows (2).json
[
    {
        "id": "4e7469d429d4695f",
        "type": "tab",
        "label": "DobotCR5Controls",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d09d44b507d75ac",
        "type": "tab",
        "label": "Inputs",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "63d69422.2169ac",
        "type": "modbus-client",
        "name": "Dobot controller",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "tcpHost": "192.168.5.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": "0",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "8f6f8c09749e6d95",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cb84daa93324ef7a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "51ba54fdc5fc3b0d",
        "type": "ui_group",
        "name": "App Commands",
        "tab": "8d1d63613d63fbc9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "837c7d8cc0f20880",
        "type": "ui_group",
        "name": "Jog",
        "tab": "f483d2e443e11978",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d1d63613d63fbc9",
        "type": "ui_tab",
        "name": "Dobot_CR5 Control",
        "icon": "mi-precision_manufacturing",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f483d2e443e11978",
        "type": "ui_tab",
        "name": "Jog",
        "icon": "mi-directions_walk",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "85a361c9db51db9d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "10f59661adf62e60",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "058b89818aae0a2d",
        "type": "ui_tab",
        "name": "Teach Points",
        "icon": "mi-assignment_ind",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "78de5537cef60a1e",
        "type": "ui_group",
        "name": "Current Position",
        "tab": "058b89818aae0a2d",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "30f7f32d0cece33f",
        "type": "ui_group",
        "name": "Teach Points",
        "tab": "058b89818aae0a2d",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6a47cd6.209cd34",
        "type": "websocket-client",
        "path": "ws://localhost:1880/ws/keyboard",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "15eb5b0d.fb9095",
        "type": "websocket-listener",
        "path": "/ws/keyboard",
        "wholemsg": "false"
    },
    {
        "id": "62a9400db3990b17",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "407a01e4.6b637",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2938c6b63c0dcba1",
        "type": "ui_group",
        "name": "Run Python",
        "tab": "8d1d63613d63fbc9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f29b12ea02f013df",
        "type": "ui_group",
        "name": "Modbus Commands",
        "tab": "8d1d63613d63fbc9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a3cf28c6aa97183",
        "type": "ui_group",
        "name": "Position Data",
        "tab": "f483d2e443e11978",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "18732faebd377fed",
        "type": "ui_spacer",
        "z": "4e7469d429d4695f",
        "name": "spacer",
        "group": "78de5537cef60a1e",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "bbadff2670a6b06b",
        "type": "ui_spacer",
        "z": "4e7469d429d4695f",
        "name": "spacer",
        "group": "78de5537cef60a1e",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "1946c2f70eabd6e8",
        "type": "ui_group",
        "name": "Label Checking",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e608f74d7f84b6ba",
        "type": "ui_group",
        "name": "Dashboard Mode",
        "tab": "eb1b98256d9fd1f0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3010ea4435b1a8fe",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1f03b356e5177986",
        "type": "mqtt-broker",
        "name": "localhost:1883",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0cc4b5d0e43186ee",
        "type": "ui_group",
        "name": "Save Labels",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6bcf082151fcc638",
        "type": "ui_group",
        "name": "Import Data",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "508df185c9c850f4",
        "type": "ui_group",
        "name": "View Label",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b8b12c9e48ea9286",
        "type": "ui_group",
        "name": "Label Checking",
        "tab": "968579d614b6da08",
        "order": 4,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae21a53b603f6ad3",
        "type": "ui_group",
        "name": "Export Data",
        "tab": "968579d614b6da08",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6fb65a5eb9768291",
        "type": "ui_group",
        "name": "Save Labels",
        "tab": "968579d614b6da08",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "750f8588c83e9228",
        "type": "ui_group",
        "name": "Import Data",
        "tab": "968579d614b6da08",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ec98605595e707b",
        "type": "ui_group",
        "name": "Augment Data",
        "tab": "968579d614b6da08",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d5260e86e81548a",
        "type": "ui_group",
        "name": "View Label",
        "tab": "968579d614b6da08",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "968579d614b6da08",
        "type": "ui_tab",
        "name": "Coordinates & Labels",
        "icon": "mi-my_location",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "80611eb86754cdde",
        "type": "ui_group",
        "name": "Label Checking",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "83133f5972a81972",
        "type": "ui_group",
        "name": "Export Data",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4c685250c98e1617",
        "type": "ui_group",
        "name": "Save Labels",
        "tab": "",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e2d98c47849d5a10",
        "type": "ui_group",
        "name": "Import Data",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "14ec9bbf28b9b213",
        "type": "ui_group",
        "name": "Augment Data",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "989ae7857e02499d",
        "type": "ui_group",
        "name": "View Label",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a73ab963e735c1e4",
        "type": "ui_group",
        "name": "Save",
        "tab": "8d1d63613d63fbc9",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f9b1b4189949ee7c",
        "type": "ui_group",
        "name": "Update CSV",
        "tab": "968579d614b6da08",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb1b98256d9fd1f0",
        "type": "ui_tab",
        "name": "Home",
        "icon": "mi-home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9bb15370d645b47b",
        "type": "ui_group",
        "name": "Time",
        "tab": "eb1b98256d9fd1f0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "224e7684e61df067",
        "type": "ui_spacer",
        "z": "5d09d44b507d75ac",
        "name": "spacer",
        "group": "9bb15370d645b47b",
        "order": 1,
        "width": "1",
        "height": "2"
    },
    {
        "id": "2279cb2e1d82b947",
        "type": "inject",
        "z": "4e7469d429d4695f",
        "name": "CLEAR",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "203ae11c6bf0ec28"
            ]
        ]
    },
    {
        "id": "0cbce9a8ca65a42c",
        "type": "inject",
        "z": "4e7469d429d4695f",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "329637ca9bfb5101"
            ]
        ]
    },
    {
        "id": "935694e296eee10e",
        "type": "inject",
        "z": "4e7469d429d4695f",
        "name": "Pause",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "9be7199ab875acef"
            ]
        ]
    },
    {
        "id": "6875661e6ac4ceae",
        "type": "inject",
        "z": "4e7469d429d4695f",
        "name": "Continue",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "3fc848ea57f04af3"
            ]
        ]
    },
    {
        "id": "7b67864fe4920a6f",
        "type": "inject",
        "z": "4e7469d429d4695f",
        "name": "Stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "5e9310881d82564c"
            ]
        ]
    },
    {
        "id": "f3c19dea30a20f55",
        "type": "ui_button",
        "z": "4e7469d429d4695f",
        "name": "",
        "group": "f29b12ea02f013df",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "329637ca9bfb5101"
            ]
        ]
    },
    {
        "id": "941f75e903ed03da",
        "type": "ui_button",
        "z": "4e7469d429d4695f",
        "name": "",
        "group": "f29b12ea02f013df",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "9be7199ab875acef"
            ]
        ]
    },
    {
        "id": "566f66294d8e1863",
        "type": "ui_button",
        "z": "4e7469d429d4695f",
        "name": "",
        "group": "f29b12ea02f013df",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Continue",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 340,
        "wires": [
            [
                "3fc848ea57f04af3"
            ]
        ]
    },
    {
        "id": "1e47b3657852bafc",
        "type": "ui_button",
        "z": "4e7469d429d4695f",
        "name": "",
        "group": "f29b12ea02f013df",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 400,
        "wires": [
            [
                "5e9310881d82564c"
            ]
        ]
    },
    {
        "id": "203ae11c6bf0ec28",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "Clear",
        "func": "msg.payload = { value:[0,0,0,0],\n'fc': 15,\n'unitid': 1,\n'address': 0,\n'quantity': 4 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 140,
        "wires": [
            [
                "3e947209809a2f9d"
            ]
        ]
    },
    {
        "id": "329637ca9bfb5101",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "Start",
        "func": "msg.payload = { value:[1,0,0,0],\n'fc': 15,\n'unitid': 1,\n'address': 0,\n'quantity': 4 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 200,
        "wires": [
            [
                "3e947209809a2f9d"
            ]
        ]
    },
    {
        "id": "9be7199ab875acef",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "Pause",
        "func": "msg.payload = { value:[0,1,0,0],\n'fc': 15,\n'unitid': 1,\n'address': 0,\n'quantity': 4 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 260,
        "wires": [
            [
                "3e947209809a2f9d"
            ]
        ]
    },
    {
        "id": "3fc848ea57f04af3",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "Continue",
        "func": "msg.payload = { value:[0,0,1,0],\n'fc': 15,\n'unitid': 1,\n'address': 0,\n'quantity': 4 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 320,
        "wires": [
            [
                "3e947209809a2f9d"
            ]
        ]
    },
    {
        "id": "5e9310881d82564c",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "Stop",
        "func": "msg.payload = { value:[0,0,0,1],\n'fc': 15,\n'unitid': 1,\n'address': 0,\n'quantity': 4 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 380,
        "wires": [
            [
                "3e947209809a2f9d"
            ]
        ]
    },
    {
        "id": "c24d531869073515",
        "type": "modbus-response",
        "z": "4e7469d429d4695f",
        "name": "",
        "registerShowMax": 20,
        "x": 1430,
        "y": 260,
        "wires": []
    },
    {
        "id": "3e947209809a2f9d",
        "type": "modbus-flex-write",
        "z": "4e7469d429d4695f",
        "name": "Dobot Controller",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "63d69422.2169ac",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1120,
        "y": 260,
        "wires": [
            [
                "c24d531869073515"
            ],
            [
                "c24d531869073515"
            ]
        ]
    },
    {
        "id": "2fa584362d3b709d",
        "type": "exec",
        "z": "4e7469d429d4695f",
        "command": "python",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 940,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "cc86fa4ce00ef5e3",
        "type": "ui_text_input",
        "z": "4e7469d429d4695f",
        "name": "",
        "label": "File Path + Name",
        "tooltip": "",
        "group": "2938c6b63c0dcba1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "55d17ae70b2062f6",
                "9681d970636f9d65"
            ]
        ]
    },
    {
        "id": "729858f15a74547d",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "Modbus",
        "info": "",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "7e9f591c6bdd8d29",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "Jog with Joints/Cartesian",
        "info": "",
        "x": 2050,
        "y": 100,
        "wires": []
    },
    {
        "id": "8dc25a455f05c34c",
        "type": "mqtt in",
        "z": "4e7469d429d4695f",
        "name": "",
        "topic": "topic/Terminate",
        "qos": "1",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 580,
        "wires": [
            [
                "b8d44259516ad753"
            ]
        ]
    },
    {
        "id": "b8d44259516ad753",
        "type": "debug",
        "z": "4e7469d429d4695f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 580,
        "wires": []
    },
    {
        "id": "d74990784dfa4f8f",
        "type": "ui_button",
        "z": "4e7469d429d4695f",
        "name": "",
        "group": "51ba54fdc5fc3b0d",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Run App",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 1160,
        "wires": [
            [
                "5f0153e46fee26ca",
                "5870ad61852f4ff8",
                "82e7644c0961e186"
            ]
        ]
    },
    {
        "id": "5069cff690ce55e4",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "Run Python App with Jog & teach point functions",
        "info": "",
        "x": 240,
        "y": 1100,
        "wires": []
    },
    {
        "id": "b69b80fbe13e7411",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "Stop App running",
        "info": "",
        "x": 160,
        "y": 540,
        "wires": []
    },
    {
        "id": "88de1c71a25758c0",
        "type": "ui_button",
        "z": "4e7469d429d4695f",
        "name": "",
        "group": "51ba54fdc5fc3b0d",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Terminate",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "b196faf334768013"
            ]
        ]
    },
    {
        "id": "b196faf334768013",
        "type": "template",
        "z": "4e7469d429d4695f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Terminate",
        "output": "str",
        "x": 400,
        "y": 640,
        "wires": [
            [
                "4045abb7746468ef",
                "9aca29eb02002eac",
                "998f1d2f210054ee"
            ]
        ]
    },
    {
        "id": "4045abb7746468ef",
        "type": "mqtt out",
        "z": "4e7469d429d4695f",
        "name": "",
        "topic": "topic/Terminate",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f6f8c09749e6d95",
        "x": 600,
        "y": 640,
        "wires": []
    },
    {
        "id": "5f0153e46fee26ca",
        "type": "pythonshell in",
        "z": "4e7469d429d4695f",
        "name": "",
        "pyfile": "/Users/Lee Shi-Hau/OneDrive/Desktop/Internship/Python Code/DobotFunction/Jog.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 340,
        "y": 1160,
        "wires": [
            [
                "8006c43f247bbbc6"
            ]
        ]
    },
    {
        "id": "25f5e8e763902c0e",
        "type": "ui_switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "label": "Joint",
        "tooltip": "Change Cartesian(OFF) Change Joint(ON)",
        "group": "837c7d8cc0f20880",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1190,
        "y": 1540,
        "wires": [
            [
                "9927d8e095cdd165"
            ]
        ]
    },
    {
        "id": "9927d8e095cdd165",
        "type": "change",
        "z": "4e7469d429d4695f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "JogMode",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 1540,
        "wires": [
            [
                "c379cb7287cb6904",
                "12c0e066ab8e7fce",
                "85af4fe14b75633b",
                "096c9e2edfd9a60f",
                "bfc1edc574699ee2",
                "34f91aba16d959e8",
                "d631d5052877a82c",
                "e7f804f874f81908",
                "0adf99b96743b24f",
                "c5934f8b76553552",
                "1f526f45fe47f9d5",
                "d0f4c3aa5af4b6dd"
            ]
        ]
    },
    {
        "id": "bd10f93589b28e6d",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "Choose Jog Mode",
        "info": "",
        "x": 1210,
        "y": 1420,
        "wires": []
    },
    {
        "id": "e635d8ba1e3234d0",
        "type": "mqtt in",
        "z": "4e7469d429d4695f",
        "name": "",
        "topic": "topic/Angle",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1480,
        "wires": [
            [
                "195c25b278a26c2b",
                "ea9c65a9c3d13fa8"
            ]
        ]
    },
    {
        "id": "4f1ca0b0be16ab82",
        "type": "mqtt in",
        "z": "4e7469d429d4695f",
        "name": "",
        "topic": "topic/Pose",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1620,
        "wires": [
            [
                "44920f6ef5c81727",
                "0f3807d150083584"
            ]
        ]
    },
    {
        "id": "195c25b278a26c2b",
        "type": "debug",
        "z": "4e7469d429d4695f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1480,
        "wires": []
    },
    {
        "id": "44920f6ef5c81727",
        "type": "debug",
        "z": "4e7469d429d4695f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1620,
        "wires": []
    },
    {
        "id": "ea9c65a9c3d13fa8",
        "type": "change",
        "z": "4e7469d429d4695f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Angle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1540,
        "wires": [
            [
                "9c3c3404d9501967"
            ]
        ]
    },
    {
        "id": "9c3c3404d9501967",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "Angle = global.get(\"Angle\")\nlet joint = Angle.slice(1,(Angle.length)-1)\nlet myArr1 = joint.split(\",\")\n\nPose = global.get(\"Pose\")\nlet coordinate = Pose.slice(1,(Pose.length)-1)\nlet myArr2 = coordinate.split(\",\")\n\nmsg.payload = [\n    {\n        \"Type\": \"Joint\", \n        \"J1/X\": myArr1[0],\n        \"J2/Y\": myArr1[1],\n        \"J3/Z\": myArr1[2],\n        \"J4/Rx\": myArr1[3],\n        \"J5/Ry\": myArr1[4],\n        \"J6/Rz\": myArr1[5]\n    },\n    {\n        \"Type\": \"Coord\",\n        \"J1/X\": myArr2[0],\n        \"J2/Y\": myArr2[1],\n        \"J3/Z\": myArr2[2],\n        \"J4/Rx\": myArr2[3],\n        \"J5/Ry\": myArr2[4],\n        \"J6/Rz\": myArr2[5]\n    }\n    ]\n\nreturn msg;\n\n    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1560,
        "wires": [
            [
                "849bcb72de7eae51"
            ]
        ]
    },
    {
        "id": "0f3807d150083584",
        "type": "change",
        "z": "4e7469d429d4695f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Pose",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1580,
        "wires": [
            [
                "9c3c3404d9501967"
            ]
        ]
    },
    {
        "id": "849bcb72de7eae51",
        "type": "ui_table",
        "z": "4e7469d429d4695f",
        "group": "5a3cf28c6aa97183",
        "name": "",
        "order": 1,
        "width": 12,
        "height": 3,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 810,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "e7642e696e72cfc2",
        "type": "mqtt in",
        "z": "4e7469d429d4695f",
        "name": "",
        "topic": "topic/ToggleJog",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 3600,
        "y": 1600,
        "wires": [
            [
                "8d736a35a085e028"
            ]
        ]
    },
    {
        "id": "8d736a35a085e028",
        "type": "debug",
        "z": "4e7469d429d4695f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3790,
        "y": 1600,
        "wires": []
    },
    {
        "id": "4a0db2d524f2c019",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J1+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"X+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 160,
        "wires": [
            [
                "9a1a18471e826347"
            ]
        ]
    },
    {
        "id": "3e53d7343bc75e84",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 240,
        "wires": [
            [
                "4a0db2d524f2c019"
            ]
        ]
    },
    {
        "id": "20fe28e1356499aa",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 340,
        "wires": [
            [
                "7cc479bc7979527a"
            ]
        ]
    },
    {
        "id": "7cc479bc7979527a",
        "type": "template",
        "z": "4e7469d429d4695f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 3280,
        "y": 2320,
        "wires": [
            [
                "9a1a18471e826347"
            ]
        ]
    },
    {
        "id": "dfd165d959dd8fd0",
        "type": "mqtt in",
        "z": "4e7469d429d4695f",
        "name": "",
        "topic": "topic/Jog",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 3580,
        "y": 1420,
        "wires": [
            [
                "a46b507dfc807feb"
            ]
        ]
    },
    {
        "id": "9a1a18471e826347",
        "type": "mqtt out",
        "z": "4e7469d429d4695f",
        "name": "",
        "topic": "topic/Jog",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f6f8c09749e6d95",
        "x": 3580,
        "y": 1480,
        "wires": []
    },
    {
        "id": "a46b507dfc807feb",
        "type": "debug",
        "z": "4e7469d429d4695f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3770,
        "y": 1420,
        "wires": []
    },
    {
        "id": "09bbab39d08bba45",
        "type": "ui_text",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "1.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1320,
        "wires": []
    },
    {
        "id": "c379cb7287cb6904",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J1+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"X+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1320,
        "wires": [
            [
                "09bbab39d08bba45"
            ]
        ]
    },
    {
        "id": "f99695ac62c38ddb",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "J1+/X+",
        "info": "",
        "x": 2010,
        "y": 300,
        "wires": []
    },
    {
        "id": "f3fd0a6d45fdad83",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J1-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"X-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 420,
        "wires": [
            [
                "9a1a18471e826347"
            ]
        ]
    },
    {
        "id": "e17dfdb568df02f1",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 480,
        "wires": [
            [
                "f3fd0a6d45fdad83"
            ]
        ]
    },
    {
        "id": "c2ca6c04c89a8927",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 560,
        "wires": [
            [
                "7cc479bc7979527a"
            ]
        ]
    },
    {
        "id": "64acbdba89fca578",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "J1-/X-",
        "info": "",
        "x": 2010,
        "y": 520,
        "wires": []
    },
    {
        "id": "b8787636412dcc87",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J2+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Y+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 640,
        "wires": [
            [
                "9a1a18471e826347"
            ]
        ]
    },
    {
        "id": "93b4fc0eaf7b42fc",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 720,
        "wires": [
            [
                "b8787636412dcc87"
            ]
        ]
    },
    {
        "id": "fb87fbed64fd88f8",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 800,
        "wires": [
            [
                "7cc479bc7979527a"
            ]
        ]
    },
    {
        "id": "974893b60de6d4c9",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "J2+/Y+",
        "info": "",
        "x": 2010,
        "y": 760,
        "wires": []
    },
    {
        "id": "d5de8c031bd693a3",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J2-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Y-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 880,
        "wires": [
            [
                "9a1a18471e826347"
            ]
        ]
    },
    {
        "id": "1b2a72c39ebf0bab",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 960,
        "wires": [
            [
                "d5de8c031bd693a3"
            ]
        ]
    },
    {
        "id": "15516d5ee856409e",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 1040,
        "wires": [
            [
                "7cc479bc7979527a"
            ]
        ]
    },
    {
        "id": "c85fd1ac5980f8b0",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "J2-/Y-",
        "info": "",
        "x": 2010,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e2128a49fcae402a",
        "type": "ui_text",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "1.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1360,
        "wires": []
    },
    {
        "id": "12c0e066ab8e7fce",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J1-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"X-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1360,
        "wires": [
            [
                "e2128a49fcae402a"
            ]
        ]
    },
    {
        "id": "9103caa7ae6132e6",
        "type": "ui_text",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "2.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1400,
        "wires": []
    },
    {
        "id": "85af4fe14b75633b",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J2+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Y+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1400,
        "wires": [
            [
                "9103caa7ae6132e6"
            ]
        ]
    },
    {
        "id": "b2c1c88b58b3c819",
        "type": "ui_text",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "order": 8,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "2.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1440,
        "wires": []
    },
    {
        "id": "096c9e2edfd9a60f",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J2-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Y-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1440,
        "wires": [
            [
                "b2c1c88b58b3c819"
            ]
        ]
    },
    {
        "id": "a091dc4ab9a829d4",
        "type": "inject",
        "z": "4e7469d429d4695f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1190,
        "y": 1480,
        "wires": [
            [
                "9927d8e095cdd165",
                "25f5e8e763902c0e"
            ]
        ]
    },
    {
        "id": "5bb01aa2fc1bb962",
        "type": "ui_text",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "order": 10,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "3.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1480,
        "wires": []
    },
    {
        "id": "bfc1edc574699ee2",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J3+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Z+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1480,
        "wires": [
            [
                "5bb01aa2fc1bb962"
            ]
        ]
    },
    {
        "id": "39f6b0c8bc1a3d2e",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J3+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Z+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 1120,
        "wires": [
            [
                "9a1a18471e826347"
            ]
        ]
    },
    {
        "id": "feaa894e4ed184d4",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 1200,
        "wires": [
            [
                "39f6b0c8bc1a3d2e"
            ]
        ]
    },
    {
        "id": "1061c0fa46e3bfa9",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 1280,
        "wires": [
            [
                "7cc479bc7979527a"
            ]
        ]
    },
    {
        "id": "127147f7920ad27d",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "J3+/Z+",
        "info": "",
        "x": 2010,
        "y": 1240,
        "wires": []
    },
    {
        "id": "532db51f87165167",
        "type": "ui_text",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "order": 12,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "3.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1520,
        "wires": []
    },
    {
        "id": "34f91aba16d959e8",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J3-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Z-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1520,
        "wires": [
            [
                "532db51f87165167"
            ]
        ]
    },
    {
        "id": "6eba00196bdfd663",
        "type": "ui_text",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "order": 14,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "4.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1560,
        "wires": []
    },
    {
        "id": "d631d5052877a82c",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J4+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RX+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1560,
        "wires": [
            [
                "6eba00196bdfd663"
            ]
        ]
    },
    {
        "id": "4bf50a286eacdc0f",
        "type": "ui_text",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "order": 16,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "4.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1600,
        "wires": []
    },
    {
        "id": "e7f804f874f81908",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J4-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RX-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1600,
        "wires": [
            [
                "4bf50a286eacdc0f"
            ]
        ]
    },
    {
        "id": "71d280250479e6ae",
        "type": "ui_text",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "order": 18,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "5.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1640,
        "wires": []
    },
    {
        "id": "0adf99b96743b24f",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J5+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RY+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1640,
        "wires": [
            [
                "71d280250479e6ae"
            ]
        ]
    },
    {
        "id": "272a9be0ccac38ca",
        "type": "ui_text",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "order": 20,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "5.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1680,
        "wires": []
    },
    {
        "id": "c5934f8b76553552",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J5-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RY-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1680,
        "wires": [
            [
                "272a9be0ccac38ca"
            ]
        ]
    },
    {
        "id": "5caf4fb549fa0778",
        "type": "ui_text",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "order": 22,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "6.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1720,
        "wires": []
    },
    {
        "id": "1f526f45fe47f9d5",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J6+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RZ+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1720,
        "wires": [
            [
                "5caf4fb549fa0778"
            ]
        ]
    },
    {
        "id": "be6bcc7cd3126b82",
        "type": "ui_text",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "order": 24,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "6.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1770,
        "y": 1760,
        "wires": []
    },
    {
        "id": "d0f4c3aa5af4b6dd",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J6-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RZ-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1760,
        "wires": [
            [
                "be6bcc7cd3126b82"
            ]
        ]
    },
    {
        "id": "c5c6340cac8321b1",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J3-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Z-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 1360,
        "wires": [
            [
                "9a1a18471e826347"
            ]
        ]
    },
    {
        "id": "619a8131b641673a",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 1440,
        "wires": [
            [
                "c5c6340cac8321b1"
            ]
        ]
    },
    {
        "id": "f252a683af3b7e3d",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 1520,
        "wires": [
            [
                "7cc479bc7979527a"
            ]
        ]
    },
    {
        "id": "8924ef32af58aa80",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "J3-/Z-",
        "info": "",
        "x": 2010,
        "y": 1480,
        "wires": []
    },
    {
        "id": "cf0a6c07942a80b2",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J4+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Rx+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 1600,
        "wires": [
            [
                "9a1a18471e826347"
            ]
        ]
    },
    {
        "id": "fa8b64d5ddd20639",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 1680,
        "wires": [
            [
                "cf0a6c07942a80b2"
            ]
        ]
    },
    {
        "id": "bf2a6d514fc680ec",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 1780,
        "wires": [
            [
                "7cc479bc7979527a"
            ]
        ]
    },
    {
        "id": "dbdf0cfddbbd461d",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "J4+/RX+",
        "info": "",
        "x": 2020,
        "y": 1740,
        "wires": []
    },
    {
        "id": "a8cb83c0c26bde43",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J4-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Rx-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 1860,
        "wires": [
            [
                "9a1a18471e826347"
            ]
        ]
    },
    {
        "id": "c8d5756eb66e4f81",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 1920,
        "wires": [
            [
                "a8cb83c0c26bde43"
            ]
        ]
    },
    {
        "id": "fb5345c7b167abf0",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2000,
        "wires": [
            [
                "7cc479bc7979527a"
            ]
        ]
    },
    {
        "id": "0653645bdc2eb9a5",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "J4-/RX-",
        "info": "",
        "x": 2010,
        "y": 1960,
        "wires": []
    },
    {
        "id": "c21b1336a51e2f27",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J5+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Ry+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 2080,
        "wires": [
            [
                "9a1a18471e826347"
            ]
        ]
    },
    {
        "id": "2692b6a7365c8b2e",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2160,
        "wires": [
            [
                "c21b1336a51e2f27"
            ]
        ]
    },
    {
        "id": "8811d2096f800b8f",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2240,
        "wires": [
            [
                "7cc479bc7979527a"
            ]
        ]
    },
    {
        "id": "1d2db0da8b8f5e8b",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "J5+/Ry+",
        "info": "",
        "x": 2020,
        "y": 2200,
        "wires": []
    },
    {
        "id": "91791fe7bc7a4532",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J5-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Ry-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 2320,
        "wires": [
            [
                "9a1a18471e826347"
            ]
        ]
    },
    {
        "id": "f4d78ad9a0468510",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2400,
        "wires": [
            [
                "91791fe7bc7a4532"
            ]
        ]
    },
    {
        "id": "efde2be90e7c58ce",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2480,
        "wires": [
            [
                "7cc479bc7979527a"
            ]
        ]
    },
    {
        "id": "62cd8fc6f8b9a54b",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "J5-/Ry-",
        "info": "",
        "x": 2010,
        "y": 2440,
        "wires": []
    },
    {
        "id": "f9481a6cfc3fbc73",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J6+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Rz+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 2560,
        "wires": [
            [
                "9a1a18471e826347"
            ]
        ]
    },
    {
        "id": "145eaf6ac80a5156",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2640,
        "wires": [
            [
                "f9481a6cfc3fbc73"
            ]
        ]
    },
    {
        "id": "5bfb40ad8478c21d",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2720,
        "wires": [
            [
                "7cc479bc7979527a"
            ]
        ]
    },
    {
        "id": "fd36b22978972ba6",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "J6+/RZ+",
        "info": "",
        "x": 2020,
        "y": 2680,
        "wires": []
    },
    {
        "id": "c0144f54a210a501",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J6-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Rz-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 2800,
        "wires": [
            [
                "9a1a18471e826347"
            ]
        ]
    },
    {
        "id": "50da25188c8b7a08",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2880,
        "wires": [
            [
                "c0144f54a210a501"
            ]
        ]
    },
    {
        "id": "df637d0bb1ffb569",
        "type": "switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2210,
        "y": 2960,
        "wires": [
            [
                "7cc479bc7979527a"
            ]
        ]
    },
    {
        "id": "de82fc03d75c79f4",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "J6-/RZ-",
        "info": "",
        "x": 2010,
        "y": 2920,
        "wires": []
    },
    {
        "id": "7017733c1cc962bc",
        "type": "ui_led",
        "z": "4e7469d429d4695f",
        "order": 2,
        "group": "51ba54fdc5fc3b0d",
        "width": 1,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Terminate",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "RunApp",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 950,
        "y": 940,
        "wires": []
    },
    {
        "id": "5870ad61852f4ff8",
        "type": "template",
        "z": "4e7469d429d4695f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "RunApp",
        "output": "str",
        "x": 380,
        "y": 1020,
        "wires": [
            [
                "9aca29eb02002eac"
            ]
        ]
    },
    {
        "id": "c77bde39d49b6ba3",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "status = flow.get(\"payload\")\nif (status == \"Terminate\")\n{\n    msg.payload == \"false\"\n}\nelse if (status == \"RunApp\")\n{\n    msg.payload == \"true\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 940,
        "wires": [
            [
                "7017733c1cc962bc"
            ]
        ]
    },
    {
        "id": "9aca29eb02002eac",
        "type": "change",
        "z": "4e7469d429d4695f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "flow",
                "to": "payload",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 940,
        "wires": [
            [
                "c77bde39d49b6ba3"
            ]
        ]
    },
    {
        "id": "7b7f6eb8077fcd6b",
        "type": "inject",
        "z": "4e7469d429d4695f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Terminate",
        "payloadType": "str",
        "x": 760,
        "y": 1040,
        "wires": [
            [
                "7017733c1cc962bc"
            ]
        ]
    },
    {
        "id": "8006c43f247bbbc6",
        "type": "debug",
        "z": "4e7469d429d4695f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1160,
        "wires": []
    },
    {
        "id": "67e33826d23446f6",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "Get Angle and Pose data",
        "info": "",
        "x": 170,
        "y": 1420,
        "wires": []
    },
    {
        "id": "f2e91b0a70a86bdb",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "msg.payload = [\n    {\n        \"Type\": \"Joint\", \n        \"J1/X\": \"0\",\n        \"J2/Y\": \"0\",\n        \"J3/Z\": \"0\",\n        \"J4/Rx\": \"0\",\n        \"J5/Ry\": \"0\",\n        \"J6/Rz\": \"0\"\n    },\n    {\n        \"Type\": \"Coord\",\n        \"J1/X\": \"0\",\n        \"J2/Y\": \"0\",\n        \"J3/Z\": \"0\",\n        \"J4/Rx\": \"0\",\n        \"J5/Ry\": \"0\",\n        \"J6/Rz\": \"0\"\n    }\n    ]\n\nreturn msg;\n\n    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1380,
        "wires": [
            [
                "849bcb72de7eae51",
                "5a51410868d5a9e1"
            ]
        ]
    },
    {
        "id": "11ddb4b8f8746614",
        "type": "inject",
        "z": "4e7469d429d4695f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 410,
        "y": 1380,
        "wires": [
            [
                "f2e91b0a70a86bdb"
            ]
        ]
    },
    {
        "id": "92d3b9aa338720c9",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "path = global.get(\"path\")\nsend = \"\"\nfullpath = send.concat(\"\\\"\",path,\"\\\"\")\nmsg.payload = fullpath\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 940,
        "wires": [
            [
                "2fa584362d3b709d",
                "558f5fcfbfdc7dd6"
            ]
        ]
    },
    {
        "id": "55d17ae70b2062f6",
        "type": "change",
        "z": "4e7469d429d4695f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "path",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 860,
        "wires": [
            [
                "92d3b9aa338720c9"
            ]
        ]
    },
    {
        "id": "9681d970636f9d65",
        "type": "debug",
        "z": "4e7469d429d4695f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 780,
        "wires": []
    },
    {
        "id": "ba04fbaf3565330c",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "Run Python File",
        "info": "",
        "x": 100,
        "y": 820,
        "wires": []
    },
    {
        "id": "c9fd2e531b67b318",
        "type": "mqtt in",
        "z": "4e7469d429d4695f",
        "name": "",
        "topic": "topic/Angle",
        "qos": "2",
        "datatype": "auto",
        "broker": "85a361c9db51db9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1960,
        "wires": [
            [
                "fb152aebe70f4b56"
            ]
        ]
    },
    {
        "id": "635f39707263726e",
        "type": "mqtt in",
        "z": "4e7469d429d4695f",
        "name": "",
        "topic": "topic/Pose",
        "qos": "2",
        "datatype": "auto",
        "broker": "85a361c9db51db9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 2060,
        "wires": [
            [
                "fa091ef922b80148"
            ]
        ]
    },
    {
        "id": "5a51410868d5a9e1",
        "type": "ui_table",
        "z": "4e7469d429d4695f",
        "group": "78de5537cef60a1e",
        "name": "",
        "order": 1,
        "width": 9,
        "height": 3,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 870,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "fb152aebe70f4b56",
        "type": "change",
        "z": "4e7469d429d4695f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "jointAngle",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1960,
        "wires": [
            [
                "e6e3688579e0fb95",
                "9ca27d8c476b5661"
            ]
        ]
    },
    {
        "id": "fa091ef922b80148",
        "type": "change",
        "z": "4e7469d429d4695f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pose",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2060,
        "wires": [
            [
                "e6e3688579e0fb95",
                "9ca27d8c476b5661"
            ]
        ]
    },
    {
        "id": "e6e3688579e0fb95",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "let angle = flow.get(\"jointAngle\");\nlet pose = flow.get(\"pose\");\n\nlet angleStr = angle.slice(1,angle.length-1);\nlet angleArray = angleStr.split(\",\");\n\nlet poseStr = pose.slice(1,angle.length-1);\nlet poseArray = poseStr.split(\",\");\n\nmsg.payload = [\n    {\n        J1_x : angleArray[0],\n        J2_y : angleArray[1],\n        J3_z : angleArray[2],\n        J4_Rx : angleArray[3],\n        J5_Ry : angleArray[4],\n        J6_Rz : angleArray[5]\n    },\n    {\n        J1_x : poseArray[0],\n        J2_y : poseArray[1],\n        J3_z : poseArray[2],\n        J4_Rx : poseArray[3],\n        J5_Ry : poseArray[4],\n        J6_Rz : poseArray[5]\n    }\n];\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1940,
        "wires": [
            [
                "5a51410868d5a9e1"
            ]
        ]
    },
    {
        "id": "c6f54a90da3252ae",
        "type": "ui_button",
        "z": "4e7469d429d4695f",
        "name": "",
        "group": "30f7f32d0cece33f",
        "order": 1,
        "width": 9,
        "height": 1,
        "passthru": false,
        "label": "Save Points",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "savePoints",
        "topicType": "str",
        "x": 110,
        "y": 2200,
        "wires": [
            [
                "9ca27d8c476b5661"
            ]
        ]
    },
    {
        "id": "9ca27d8c476b5661",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "\nlet angle = flow.get(\"jointAngle\");\nlet pose = flow.get(\"pose\");\n\n\nlet angleStr = angle.slice(1,angle.length-1);\nlet angleArray = angleStr.split(\",\");\n\n\nlet poseStr = pose.slice(1,angle.length-1);\nlet poseArray = poseStr.split(\",\");\n\nvar storeArray = flow.get(\"storeArray\") || [];\nvar clearArray = flow.get(\"clearArray\") || \"\";\nvar counter = flow.get(\"counter\") || 0;\nvar delete_rowNum = global.get(\"delete_rowNum\") || 0; \nvar cover_rowNum = global.get(\"cover_rowNum\") || 0;\n\n//var optionsArr = flow.get(\"optionsArr\") || [];\n\n\nif(msg.topic == \"savePoints\")\n{\n    if ((storeArray.length == 0 ) || (clearArray == 1))\n    {\n        counter++;\n        //optionsArr = [counter];\n        storeArray = [\n        {\n            Points: counter,\n            J1_x : angleArray[0],\n            J2_y : angleArray[1],\n            J3_z : angleArray[2],\n            J4_Rx : angleArray[3],\n            J5_Ry : angleArray[4],\n            J6_Rz : angleArray[5]\n            \n        },\n        {\n            Points: \"\",\n            J1_x : poseArray[0],\n            J2_y : poseArray[1],\n            J3_z : poseArray[2],\n            J4_Rx : poseArray[3],\n            J5_Ry : poseArray[4],\n            J6_Rz : poseArray[5]\n        }\n        ];\n        clearArray = 0;\n    }\n    else\n    {\n        counter++;\n        //optionsArr.push(counter);\n        storeArray.push(\n            {\n                Points:counter,\n                J1_x : angleArray[0],\n                J2_y : angleArray[1],\n                J3_z : angleArray[2],\n                J4_Rx : angleArray[3],\n                J5_Ry : angleArray[4],\n                J6_Rz : angleArray[5]\n                \n            },\n            {\n                Points: \"\",\n                J1_x : poseArray[0],\n                J2_y : poseArray[1],\n                J3_z : poseArray[2],\n                J4_Rx : poseArray[3],\n                J5_Ry : poseArray[4],\n                J6_Rz : poseArray[5]\n                \n            }\n        )\n    }\n}\nelse if (msg.topic == \"deletePoint\")\n{\n    storeArray[delete_rowNum].J1_x =0;\n    storeArray[delete_rowNum].J2_y =0;\n    storeArray[delete_rowNum].J3_z =0;\n    storeArray[delete_rowNum].J4_Rx =0;\n    storeArray[delete_rowNum].J5_Ry =0;\n    storeArray[delete_rowNum].J6_Rz =0;\n    \n\n    storeArray[delete_rowNum+1] = \n    {\n        J1_x :0,\n        J2_y :0,\n        J3_z :0,\n        J4_Rx :0,\n        J5_Ry :0,\n        J6_Rz :0,\n    }\n}\nelse if(msg.topic == \"cover\")\n{\n    storeArray[cover_rowNum].J1_x =angleArray[0];\n    storeArray[cover_rowNum].J2_y =angleArray[1];\n    storeArray[cover_rowNum].J3_z =angleArray[2];\n    storeArray[cover_rowNum].J4_Rx =angleArray[3];\n    storeArray[cover_rowNum].J5_Ry =angleArray[4];\n    storeArray[cover_rowNum].J6_Rz =angleArray[5];\n    \n\n    storeArray[cover_rowNum+1] = \n    {\n        J1_x :poseArray[0],\n        J2_y :poseArray[1],\n        J3_z :poseArray[2],\n        J4_Rx :poseArray[3],\n        J5_Ry :poseArray[4],\n        J6_Rz :poseArray[5],\n    }\n}\n\n\nflow.set(\"storeArray\", storeArray);\nflow.set(\"clearArray\", clearArray);\nflow.set(\"counter\",counter);\n\n//flow.set(\"optionsArr\", optionsArr);\n//msg.options = optionsArr; \nmsg.payload = storeArray;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 2060,
        "wires": [
            [
                "9d817428f880cc9f",
                "746284638db4db6a"
            ]
        ]
    },
    {
        "id": "9d817428f880cc9f",
        "type": "debug",
        "z": "4e7469d429d4695f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 2000,
        "wires": []
    },
    {
        "id": "0912111166802f77",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "var storeArray = flow.get(\"storeArray\") || [];\nvar clearArray = flow.get(\"clearArray\") || \"\"; \nvar counter = flow.get(\"counter\") || 0;\nif (msg.topic == \"reset\")\n{\n    storeArray = [\n        {\n            Points :\"\",\n            J1_x :\"\",\n            J2_y : \"\",\n            J3_z : \"\",\n            J4_Rx : \"\",\n            J5_Ry : \"\",\n            J6_Rz : \"\"\n        },\n        {\n            J1_x :\"\",\n            J2_y : \"\",\n            J3_z : \"\",\n            J4_Rx : \"\",\n            J5_Ry : \"\",\n            J6_Rz : \"\"\n        }\n    ];\n    clearArray = 1;\n    counter = 0;\n}\n\nflow.set(\"storeArray\", storeArray);\nflow.set(\"clearArray\", clearArray);\nflow.set(\"counter\", counter);\nmsg.payload = storeArray;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 2100,
        "wires": [
            [
                "746284638db4db6a"
            ]
        ]
    },
    {
        "id": "f979deed9c26bf52",
        "type": "ui_button",
        "z": "4e7469d429d4695f",
        "name": "",
        "group": "30f7f32d0cece33f",
        "order": 2,
        "width": 9,
        "height": 1,
        "passthru": false,
        "label": "reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "reset",
        "topicType": "str",
        "x": 130,
        "y": 2240,
        "wires": [
            [
                "0912111166802f77"
            ]
        ]
    },
    {
        "id": "d73a0de430bb4592",
        "type": "mqtt out",
        "z": "4e7469d429d4695f",
        "name": "",
        "topic": "topic/CoreFunc",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f6f8c09749e6d95",
        "x": 780,
        "y": 2720,
        "wires": []
    },
    {
        "id": "746284638db4db6a",
        "type": "ui_table",
        "z": "4e7469d429d4695f",
        "group": "30f7f32d0cece33f",
        "name": "",
        "order": 3,
        "width": 9,
        "height": 8,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 1110,
        "y": 2080,
        "wires": [
            [
                "9a26f0afc11bd6bf",
                "b82ca1d52cc868e0"
            ]
        ]
    },
    {
        "id": "0766dd6e104a69c1",
        "type": "inject",
        "z": "4e7469d429d4695f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 970,
        "y": 2260,
        "wires": [
            [
                "b82ca1d52cc868e0"
            ]
        ]
    },
    {
        "id": "b82ca1d52cc868e0",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "var storeArray = flow.get(\"storeArray\") || [];\n\nlet rowNum = 0;\nrowNum = msg.row;\n\nif((rowNum+1)%2 == 0)\n{\n    rowNum = rowNum -1;\n}\n\n\nlet point = [storeArray[rowNum].J1_x, storeArray[rowNum].J2_y, storeArray[rowNum].J3_z, storeArray[rowNum].J4_Rx, storeArray[rowNum].J5_Ry, storeArray[rowNum].J6_Rz]\n\npointStr = point.toString(point)\n\nmsg.payload = pointStr; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 2220,
        "wires": [
            [
                "96e3a9da1b938684",
                "e423628b57e6eb37"
            ]
        ]
    },
    {
        "id": "96e3a9da1b938684",
        "type": "mqtt out",
        "z": "4e7469d429d4695f",
        "name": "",
        "topic": "topic/runTo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "62a9400db3990b17",
        "x": 1410,
        "y": 2220,
        "wires": []
    },
    {
        "id": "e423628b57e6eb37",
        "type": "debug",
        "z": "4e7469d429d4695f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 2280,
        "wires": []
    },
    {
        "id": "a05a7be5bc680d4c",
        "type": "ui_text",
        "z": "4e7469d429d4695f",
        "group": "78de5537cef60a1e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Selected point:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1780,
        "y": 2100,
        "wires": []
    },
    {
        "id": "9a26f0afc11bd6bf",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "let rowNum = 0;\nrowNum = msg.row;\nif (rowNum%2 != 0)\n{\n    rowNum = (rowNum-1)/2 +1;\n}\nelse\n{\n    rowNum = rowNum/2 + 1;\n}\n\n\n\nmsg.payload = rowNum; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 2080,
        "wires": [
            [
                "a05a7be5bc680d4c",
                "62a188112e45d1fa",
                "a2fb624d37da3c31",
                "8e18f1b2e0646247"
            ]
        ]
    },
    {
        "id": "27224f19a062cff5",
        "type": "mqtt in",
        "z": "4e7469d429d4695f",
        "name": "",
        "topic": "topic/break",
        "qos": "2",
        "datatype": "auto",
        "broker": "407a01e4.6b637",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1680,
        "wires": [
            [
                "1905a7916ce635a0",
                "d489597680fdcfd5",
                "8ff604c1c944fbbe",
                "59246f348cad9c5e"
            ]
        ]
    },
    {
        "id": "1905a7916ce635a0",
        "type": "mqtt out",
        "z": "4e7469d429d4695f",
        "name": "",
        "topic": "topic/Break",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 530,
        "y": 1680,
        "wires": []
    },
    {
        "id": "d489597680fdcfd5",
        "type": "debug",
        "z": "4e7469d429d4695f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1760,
        "wires": []
    },
    {
        "id": "8ff604c1c944fbbe",
        "type": "ui_text",
        "z": "4e7469d429d4695f",
        "group": "78de5537cef60a1e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 530,
        "y": 1820,
        "wires": []
    },
    {
        "id": "59246f348cad9c5e",
        "type": "delay",
        "z": "4e7469d429d4695f",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 180,
        "y": 1880,
        "wires": [
            [
                "3159758f536de58f"
            ]
        ]
    },
    {
        "id": "3159758f536de58f",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "msg.payload = \"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1880,
        "wires": [
            [
                "8ff604c1c944fbbe"
            ]
        ]
    },
    {
        "id": "98fcac764b3b2c43",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "Save Teach Points",
        "info": "",
        "x": 1130,
        "y": 2040,
        "wires": []
    },
    {
        "id": "558f5fcfbfdc7dd6",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "if (msg)\n{\n    msg.payload = true\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 700,
        "wires": [
            [
                "b196faf334768013"
            ]
        ]
    },
    {
        "id": "e706cc41e78c3866",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "msg.payload = [\n    {\n        \"Type\": \"Joint\", \n        \"J1/X\": \"\",\n        \"J2/Y\": \"\",\n        \"J3/Z\": \"\",\n        \"J4/Rx\": \"\",\n        \"J5/Ry\": \"\",\n        \"J6/Rz\": \"\"\n    },\n    {\n        \"Type\": \"Coord\",\n        \"J1/X\": \"\",\n        \"J2/Y\": \"\",\n        \"J3/Z\": \"\",\n        \"J4/Rx\": \"\",\n        \"J5/Ry\": \"\",\n        \"J6/Rz\": \"\"\n    }\n    ]\n\nreturn msg;\n\n    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1820,
        "wires": [
            [
                "746284638db4db6a"
            ]
        ]
    },
    {
        "id": "da33c4c4b92b96c2",
        "type": "inject",
        "z": "4e7469d429d4695f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 850,
        "y": 1680,
        "wires": [
            [
                "e706cc41e78c3866",
                "fc1a9285779f26ed"
            ]
        ]
    },
    {
        "id": "fc1a9285779f26ed",
        "type": "template",
        "z": "4e7469d429d4695f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "None",
        "output": "str",
        "x": 1380,
        "y": 1920,
        "wires": [
            [
                "a05a7be5bc680d4c"
            ]
        ]
    },
    {
        "id": "8d09f358.cc5c4",
        "type": "ui_template",
        "z": "4e7469d429d4695f",
        "group": "78de5537cef60a1e",
        "name": "MoveTo",
        "order": 4,
        "width": 9,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: 'Start'})\" ng-mouseup=\"send({payload: 'Stop'})\"><i class=\"material-icons\"> accessible_forward </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 140,
        "y": 2440,
        "wires": [
            [
                "adf794aefb4f79ad",
                "e58d405d84fdd30e"
            ]
        ]
    },
    {
        "id": "adf794aefb4f79ad",
        "type": "debug",
        "z": "4e7469d429d4695f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 2420,
        "wires": []
    },
    {
        "id": "e58d405d84fdd30e",
        "type": "change",
        "z": "4e7469d429d4695f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "MoveTo",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 2340,
        "wires": [
            [
                "7dcd791f6d79a32a"
            ]
        ]
    },
    {
        "id": "b688b33710823791",
        "type": "ui_template",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "name": "1.1",
        "order": 3,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 380,
        "wires": [
            [
                "20fe28e1356499aa",
                "3e53d7343bc75e84"
            ]
        ]
    },
    {
        "id": "bf4474fadc9a5d58",
        "type": "ui_template",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "name": "1.2",
        "order": 5,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 600,
        "wires": [
            [
                "e17dfdb568df02f1",
                "c2ca6c04c89a8927"
            ]
        ]
    },
    {
        "id": "7d3eb4d9624f4683",
        "type": "ui_template",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "name": "2.1",
        "order": 7,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 840,
        "wires": [
            [
                "93b4fc0eaf7b42fc",
                "fb87fbed64fd88f8"
            ]
        ]
    },
    {
        "id": "0b45a4efd28c6302",
        "type": "ui_template",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "name": "2.2",
        "order": 9,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 1080,
        "wires": [
            [
                "1b2a72c39ebf0bab",
                "15516d5ee856409e"
            ]
        ]
    },
    {
        "id": "c9964b3a43d4741f",
        "type": "ui_template",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "name": "3.1",
        "order": 11,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 1320,
        "wires": [
            [
                "feaa894e4ed184d4",
                "1061c0fa46e3bfa9"
            ]
        ]
    },
    {
        "id": "4ab4c86f2f11d767",
        "type": "ui_template",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "name": "3.2",
        "order": 13,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 1560,
        "wires": [
            [
                "619a8131b641673a",
                "f252a683af3b7e3d"
            ]
        ]
    },
    {
        "id": "adbb40c5e4f0d85d",
        "type": "ui_template",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "name": "4.1",
        "order": 15,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 1820,
        "wires": [
            [
                "fa8b64d5ddd20639",
                "bf2a6d514fc680ec"
            ]
        ]
    },
    {
        "id": "c5f3a99a58ed65e8",
        "type": "ui_template",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "name": "4.2",
        "order": 17,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 2040,
        "wires": [
            [
                "c8d5756eb66e4f81",
                "fb5345c7b167abf0"
            ]
        ]
    },
    {
        "id": "3a1d71fa9e8fa321",
        "type": "ui_template",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "name": "5.1",
        "order": 19,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 2280,
        "wires": [
            [
                "2692b6a7365c8b2e",
                "8811d2096f800b8f"
            ]
        ]
    },
    {
        "id": "3c58754ee2b21f98",
        "type": "ui_template",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "name": "5.2",
        "order": 21,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 2520,
        "wires": [
            [
                "f4d78ad9a0468510",
                "efde2be90e7c58ce"
            ]
        ]
    },
    {
        "id": "d6800541026fb13e",
        "type": "ui_template",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "name": "6.1",
        "order": 23,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 2760,
        "wires": [
            [
                "145eaf6ac80a5156",
                "5bfb40ad8478c21d"
            ]
        ]
    },
    {
        "id": "e4acd8d9c38a39d4",
        "type": "ui_template",
        "z": "4e7469d429d4695f",
        "group": "837c7d8cc0f20880",
        "name": "6.2",
        "order": 25,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2010,
        "y": 3000,
        "wires": [
            [
                "50da25188c8b7a08",
                "df637d0bb1ffb569"
            ]
        ]
    },
    {
        "id": "e7ade294c7797aa5",
        "type": "ui_switch",
        "z": "4e7469d429d4695f",
        "name": "",
        "label": "Enable Robot",
        "tooltip": "",
        "group": "51ba54fdc5fc3b0d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "Enable",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Disable",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 500,
        "y": 2720,
        "wires": [
            [
                "d73a0de430bb4592"
            ]
        ]
    },
    {
        "id": "182c6c36a1d6d36e",
        "type": "ui_button",
        "z": "4e7469d429d4695f",
        "name": "",
        "group": "51ba54fdc5fc3b0d",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Error",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ClearErr",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 510,
        "y": 2780,
        "wires": [
            [
                "d73a0de430bb4592"
            ]
        ]
    },
    {
        "id": "ccd37c6cd0b107c0",
        "type": "ui_button",
        "z": "4e7469d429d4695f",
        "name": "",
        "group": "78de5537cef60a1e",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Delete point",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "deletePoint",
        "topicType": "str",
        "x": 110,
        "y": 2160,
        "wires": [
            [
                "9ca27d8c476b5661"
            ]
        ]
    },
    {
        "id": "0e5d7b92ccf06550",
        "type": "ui_button",
        "z": "4e7469d429d4695f",
        "name": "",
        "group": "78de5537cef60a1e",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Cover",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "cover",
        "topicType": "str",
        "x": 130,
        "y": 2120,
        "wires": [
            [
                "9ca27d8c476b5661"
            ]
        ]
    },
    {
        "id": "8e18f1b2e0646247",
        "type": "ui_text_input",
        "z": "4e7469d429d4695f",
        "name": "",
        "label": "Delete:",
        "tooltip": "",
        "group": "78de5537cef60a1e",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1760,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "62a188112e45d1fa",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "var storeArray = flow.get(\"storeArray\") || [];\nvar delete_rowNum = global.get(\"delete_rowNum\") || 0;\nvar cover_rowNum = global.get(\"cover_rowNum\") || 0;\n\nvar tablerowNum = 0; \ntablerowNum = msg.payload;\ndelete_rowNum = tablerowNum*2 - 2;\ncover_rowNum = tablerowNum*2 - 2;\n\nflow.set(\"storeArray\", storeArray);\nglobal.set(\"delete_rowNum\", delete_rowNum);\nglobal.set(\"cover_rowNum\", cover_rowNum);\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "a2fb624d37da3c31",
        "type": "ui_text_input",
        "z": "4e7469d429d4695f",
        "name": "",
        "label": "Cover:",
        "tooltip": "",
        "group": "78de5537cef60a1e",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1750,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "82e7644c0961e186",
        "type": "template",
        "z": "4e7469d429d4695f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Run",
        "output": "str",
        "x": 440,
        "y": 1260,
        "wires": [
            [
                "998f1d2f210054ee"
            ]
        ]
    },
    {
        "id": "998f1d2f210054ee",
        "type": "change",
        "z": "4e7469d429d4695f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Lock",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 1140,
        "wires": [
            [
                "8dde986e89f4c8bc"
            ]
        ]
    },
    {
        "id": "c9736b3b2484e585",
        "type": "mqtt in",
        "z": "4e7469d429d4695f",
        "name": "",
        "topic": "topic/CoreFunc",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 780,
        "y": 2660,
        "wires": [
            [
                "a1168f9a24b938dc"
            ]
        ]
    },
    {
        "id": "a1168f9a24b938dc",
        "type": "debug",
        "z": "4e7469d429d4695f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 2720,
        "wires": []
    },
    {
        "id": "e2942a74a88ca71d",
        "type": "debug",
        "z": "4e7469d429d4695f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 2800,
        "wires": []
    },
    {
        "id": "8dde986e89f4c8bc",
        "type": "link out",
        "z": "4e7469d429d4695f",
        "name": "",
        "mode": "link",
        "links": [
            "6908084d5dd513de"
        ],
        "x": 1355,
        "y": 1140,
        "wires": []
    },
    {
        "id": "6908084d5dd513de",
        "type": "link in",
        "z": "4e7469d429d4695f",
        "name": "",
        "links": [
            "8dde986e89f4c8bc"
        ],
        "x": 95,
        "y": 2640,
        "wires": [
            [
                "75efcb8ae151971e"
            ]
        ]
    },
    {
        "id": "7dcd791f6d79a32a",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "Status = global.get(\"MoveTo\");\nif (Status == \"Start\")\n{\n    msg.payload = \"GO\";\n}\nelse if (Status == \"Stop\")\n{\n    msg.payload = \"NOGO\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 2340,
        "wires": [
            [
                "d99cc5c511aaea8d"
            ]
        ]
    },
    {
        "id": "d99cc5c511aaea8d",
        "type": "mqtt out",
        "z": "4e7469d429d4695f",
        "name": "",
        "topic": "topic/TPMove",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f6f8c09749e6d95",
        "x": 820,
        "y": 2340,
        "wires": []
    },
    {
        "id": "48044f19ca332e37",
        "type": "mqtt in",
        "z": "4e7469d429d4695f",
        "name": "",
        "topic": "topic/TPMove",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 2400,
        "wires": [
            [
                "e90f9da0a7978b91"
            ]
        ]
    },
    {
        "id": "e90f9da0a7978b91",
        "type": "debug",
        "z": "4e7469d429d4695f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 2400,
        "wires": []
    },
    {
        "id": "75efcb8ae151971e",
        "type": "function",
        "z": "4e7469d429d4695f",
        "name": "",
        "func": "Status = global.get(\"Lock\")\nif (Status == \"Run\")\n{\n    msg.payload = \"Enable\"\n}\nelse if (Status == \"Terminate\")\n{\n    msg.payload = \"Disable\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 2720,
        "wires": [
            [
                "e2942a74a88ca71d",
                "e7ade294c7797aa5"
            ]
        ]
    },
    {
        "id": "683701d577835ac4",
        "type": "comment",
        "z": "4e7469d429d4695f",
        "name": "Lock/unlock joints + clear error",
        "info": "",
        "x": 300,
        "y": 2600,
        "wires": []
    },
    {
        "id": "dd5cc6248fef90b9",
        "type": "ui_form",
        "z": "5d09d44b507d75ac",
        "name": "Coordinates _Labels",
        "label": "Coordinates & Labels",
        "group": "b8b12c9e48ea9286",
        "order": 2,
        "width": 15,
        "height": 1,
        "options": [
            {
                "label": "J1",
                "value": "J1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "J2",
                "value": "J2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "J3",
                "value": "J3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "J4",
                "value": "J4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "J5",
                "value": "J5",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "J6",
                "value": "J6",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "View",
                "value": "view",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Required Labels",
                "value": "labels",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "J1": "",
            "J2": "",
            "J3": "",
            "J4": "",
            "J5": "",
            "J6": "",
            "view": "",
            "labels": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "inputs",
        "topicType": "str",
        "splitLayout": true,
        "className": "",
        "x": 220,
        "y": 820,
        "wires": [
            [
                "c621732df556409b",
                "d5015811986a5016"
            ]
        ]
    },
    {
        "id": "c621732df556409b",
        "type": "debug",
        "z": "5d09d44b507d75ac",
        "name": "form output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 820,
        "wires": []
    },
    {
        "id": "5255e4a806e4a491",
        "type": "ui_form",
        "z": "5d09d44b507d75ac",
        "name": "Export Filename",
        "label": "Filename:",
        "group": "ae21a53b603f6ad3",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Filename",
                "value": "filename",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "filename": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "a4d4c735624d1608",
                "bf44f9fe83eed91e",
                "c1a5581c212192cb",
                "7159c378dae6cd97",
                "c2a4e235cc86c7e5",
                "6966c2ba4bceb26f",
                "312d937821e327fc"
            ]
        ]
    },
    {
        "id": "a4d4c735624d1608",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "Hide Inputs",
        "func": "if (msg.payload == \"Hide\")\n{\n    msg.payload = {\"group\": {\"hide\": [\"Coordinates_&_Labels_Label_Checking\"]}}\n}\nelse \n{\n    msg.payload = {\"group\": {\"show\": [\"Coordinates_&_Labels_Label_Checking\"]}}\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 220,
        "wires": [
            [
                "bd0efc47e6fa296f"
            ]
        ]
    },
    {
        "id": "bd0efc47e6fa296f",
        "type": "ui_ui_control",
        "z": "5d09d44b507d75ac",
        "name": "",
        "events": "all",
        "x": 1620,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "bf44f9fe83eed91e",
        "type": "debug",
        "z": "5d09d44b507d75ac",
        "name": "filename",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 480,
        "wires": []
    },
    {
        "id": "eb514c5968c61d68",
        "type": "inject",
        "z": "5d09d44b507d75ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hide",
        "payloadType": "str",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "a4d4c735624d1608",
                "c1a5581c212192cb",
                "7159c378dae6cd97",
                "6966c2ba4bceb26f",
                "dab4b46c002a64f9",
                "312d937821e327fc",
                "ac49ed7cb1487d50"
            ]
        ]
    },
    {
        "id": "5eef4edcf534e18e",
        "type": "comment",
        "z": "5d09d44b507d75ac",
        "name": "Get Filename",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "391907f35f1e3498",
        "type": "mqtt out",
        "z": "5d09d44b507d75ac",
        "name": "",
        "topic": "topic/filename",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3010ea4435b1a8fe",
        "x": 840,
        "y": 540,
        "wires": []
    },
    {
        "id": "38c8cb5e3fa5a550",
        "type": "comment",
        "z": "5d09d44b507d75ac",
        "name": "Get Coordinates And Labels",
        "info": "",
        "x": 500,
        "y": 760,
        "wires": []
    },
    {
        "id": "f49a889cbbc6b8d8",
        "type": "ui_table",
        "z": "5d09d44b507d75ac",
        "group": "b8b12c9e48ea9286",
        "name": "Inputed Coordinates & Labels",
        "order": 1,
        "width": 15,
        "height": 7,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 1390,
        "y": 960,
        "wires": [
            [
                "dd5cc6248fef90b9",
                "cddbbad2d1a47048"
            ]
        ]
    },
    {
        "id": "ee1d05a927b57fa4",
        "type": "debug",
        "z": "5d09d44b507d75ac",
        "name": "Table output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 860,
        "wires": []
    },
    {
        "id": "9f54c3672f32d1be",
        "type": "change",
        "z": "5d09d44b507d75ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "counter",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1240,
        "wires": [
            [
                "7aed8ebf7941242f"
            ]
        ]
    },
    {
        "id": "5a74e3116276a158",
        "type": "debug",
        "z": "5d09d44b507d75ac",
        "name": "Table Cleared",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 1240,
        "wires": []
    },
    {
        "id": "83ee02f0ed183de5",
        "type": "inject",
        "z": "5d09d44b507d75ac",
        "name": "Intialize Counter & Clear Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 550,
        "y": 1240,
        "wires": [
            [
                "9f54c3672f32d1be",
                "7977a26cb7ec9fcc"
            ]
        ]
    },
    {
        "id": "7aed8ebf7941242f",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "Clear Table",
        "func": "return {payload: \"Table Cleared\"}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 1240,
        "wires": [
            [
                "5a74e3116276a158",
                "f49a889cbbc6b8d8"
            ]
        ]
    },
    {
        "id": "90a19783eeb954fc",
        "type": "template",
        "z": "5d09d44b507d75ac",
        "name": "parse inputs",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"J1\": {{payload.J1}},\n    \"J2\": {{payload.J2}},\n    \"J3\": {{payload.J3}},\n    \"J4\": {{payload.J4}},\n    \"J5\": {{payload.J5}},\n    \"J6\": {{payload.J6}},\n    \"labels\": \"{{payload.labels}}\",\n    \"view\": \"{{payload.view}}\"\n}",
        "output": "json",
        "x": 410,
        "y": 1020,
        "wires": [
            [
                "d96259cd84f8c68e"
            ]
        ]
    },
    {
        "id": "d15657394f1094cf",
        "type": "mqtt in",
        "z": "5d09d44b507d75ac",
        "name": "",
        "topic": "topic/recv_joint",
        "qos": "2",
        "datatype": "auto",
        "broker": "1f03b356e5177986",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 1100,
        "wires": [
            [
                "e5f8d2c6590afb24",
                "60cf63bf3cae08cb"
            ]
        ]
    },
    {
        "id": "b99011077f0fa8e1",
        "type": "ui_button",
        "z": "5d09d44b507d75ac",
        "name": "Save",
        "group": "6fb65a5eb9768291",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "outputs",
        "payloadType": "flow",
        "topic": "output",
        "topicType": "str",
        "x": 390,
        "y": 1380,
        "wires": [
            [
                "a4b2221341a94c89",
                "0660f8230308e93e"
            ]
        ]
    },
    {
        "id": "d96259cd84f8c68e",
        "type": "change",
        "z": "5d09d44b507d75ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "inputData",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1020,
        "wires": [
            [
                "7334e1af077fb283"
            ]
        ]
    },
    {
        "id": "e5f8d2c6590afb24",
        "type": "debug",
        "z": "5d09d44b507d75ac",
        "name": "MQTT out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1160,
        "wires": []
    },
    {
        "id": "098b4105267759bc",
        "type": "mqtt out",
        "z": "5d09d44b507d75ac",
        "name": "",
        "topic": "topic/recv_data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3010ea4435b1a8fe",
        "x": 780,
        "y": 1460,
        "wires": []
    },
    {
        "id": "a4b2221341a94c89",
        "type": "debug",
        "z": "5d09d44b507d75ac",
        "name": "Parsed outputs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1380,
        "wires": []
    },
    {
        "id": "a38f7f699e5a1246",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "Arange Inputs",
        "func": "let input = flow.get(\"input\");\nlet counter = flow.get(\"counter\");\nvar delete_rowNum = global.get(\"delete_rowNum\") || 0; \nvar cover_rowNum = global.get(\"cover_rowNum\") || 0;\nvar selected_row = flow.get(\"selectedRow\") || 0;\n\nlet output =[];\nif (msg.topic == \"clearTable\")\n{\n    output = flow.get(\"outputs\");\n    output = [];\n    counter = 0;\n    flow.set(\"outputs\", output);\n}\nelse if (selected_row != 0 && msg.topic != \"deletePoint\")\n{\n    output = flow.get(\"outputs\");\n    output[selected_row -1]= input;\n    flow.set(\"outputs\", output);\n    selected_row = 0;\n    flow.set(\"selectedRow\",selected_row);\n}\nelse if (msg.topic == \"inputData\")\n{\n    if (counter == 0)\n    {\n        output =[input];\n        flow.set(\"outputs\", output);\n        counter++;\n    \n    }\n    else\n    {\n        output = flow.get(\"outputs\");\n        output[counter]= input;\n        counter++;\n    }\n}\nelse if(msg.topic == \"deletePoint\")\n{\n    output = flow.get(\"outputs\");\n    output.splice(selected_row-1,1);\n    flow.set(\"outputs\", output);\n    \n    counter--; \n    \n    if(output.length == 0)\n    {\n        counter = 0;\n    }\n\n}\n\n\nmsg.payload = output;\n//counter++;\nflow.set(\"counter\", counter);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 960,
        "wires": [
            [
                "ee1d05a927b57fa4",
                "f49a889cbbc6b8d8"
            ]
        ]
    },
    {
        "id": "c1a5581c212192cb",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "Hide Save Button",
        "func": "if (msg.payload == \"Hide\")\n{\n    msg.payload = {\"group\": {\"hide\": [\"Coordinates_&_Labels_Save_Labels\"]}}\n}\nelse \n{\n    msg.payload = {\"group\": {\"show\": [\"Coordinates_&_Labels_Save_Labels\"]}}\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 100,
        "wires": [
            [
                "bd0efc47e6fa296f"
            ]
        ]
    },
    {
        "id": "5c96ed946c395645",
        "type": "comment",
        "z": "5d09d44b507d75ac",
        "name": "Save Labels",
        "info": "",
        "x": 410,
        "y": 1300,
        "wires": []
    },
    {
        "id": "7159c378dae6cd97",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "Hide Filename",
        "func": "if (msg.payload == \"Hide\")\n{\n    msg.payload = {\"group\": {\"show\": [\"Coordinates_&_Labels_Export_Data\"]}}\n}\nelse \n{\n    msg.payload = {\"group\": {\"hide\": [\"Coordinates_&_Labels_Export_Data\"]}}\n    \n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 380,
        "wires": [
            [
                "bd0efc47e6fa296f"
            ]
        ]
    },
    {
        "id": "c2a4e235cc86c7e5",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "",
        "func": "filename = msg.payload.filename;\nemptyarr = \"\";\nfullname = emptyarr.concat(\"/\",filename,\".csv\");\nmsg.payload = fullname;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 540,
        "wires": [
            [
                "391907f35f1e3498"
            ]
        ]
    },
    {
        "id": "e8a847b28fe1e435",
        "type": "ui_button",
        "z": "5d09d44b507d75ac",
        "name": "",
        "group": "6fb65a5eb9768291",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Close",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Hide",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "c1a5581c212192cb",
                "a4d4c735624d1608",
                "7159c378dae6cd97",
                "6966c2ba4bceb26f",
                "dab4b46c002a64f9",
                "ce03bd655177d581",
                "312d937821e327fc",
                "15a9124e4114f95b",
                "ac49ed7cb1487d50"
            ]
        ]
    },
    {
        "id": "6966c2ba4bceb26f",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "Hide Filename",
        "func": "if (msg.payload == \"Hide\")\n{\n    msg.payload = {\"group\": {\"show\": [\"Coordinates_&_Labels_Import_Data\"]}}\n}\nelse \n{\n    msg.payload = {\"group\": {\"hide\": [\"Coordinates_&_Labels_Import_Data\"]}}\n    \n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 440,
        "wires": [
            [
                "bd0efc47e6fa296f"
            ]
        ]
    },
    {
        "id": "ef1852260e69549d",
        "type": "ui_form",
        "z": "5d09d44b507d75ac",
        "name": "Import Filename",
        "label": "Filename:",
        "group": "750f8588c83e9228",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Filename",
                "value": "filename",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "filename": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "c2a4e235cc86c7e5",
                "bf44f9fe83eed91e",
                "7159c378dae6cd97",
                "6966c2ba4bceb26f",
                "dab4b46c002a64f9",
                "5db825a9c05f8c60",
                "312d937821e327fc",
                "ac49ed7cb1487d50"
            ]
        ]
    },
    {
        "id": "dab4b46c002a64f9",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "View Label",
        "func": "if (msg.payload == \"Hide\")\n{\n    msg.payload = {\"group\": {\"hide\": [\"Coordinates_&_Labels_View_Label\"]}}\n}\nelse \n{\n    msg.payload = {\"group\": {\"show\": [\"Coordinates_&_Labels_View_Label\"]}}\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 300,
        "wires": [
            [
                "bd0efc47e6fa296f"
            ]
        ]
    },
    {
        "id": "5db825a9c05f8c60",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "",
        "func": "if (msg)\n{\n    msg.payload = \"GetData\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 600,
        "wires": [
            [
                "7092517c8a6632fc"
            ]
        ]
    },
    {
        "id": "7092517c8a6632fc",
        "type": "delay",
        "z": "5d09d44b507d75ac",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 600,
        "wires": [
            [
                "c5ef0479f967bd3b"
            ]
        ]
    },
    {
        "id": "c5ef0479f967bd3b",
        "type": "mqtt out",
        "z": "5d09d44b507d75ac",
        "name": "",
        "topic": "topic/CoreFunc",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f6f8c09749e6d95",
        "x": 840,
        "y": 600,
        "wires": []
    },
    {
        "id": "0660f8230308e93e",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "",
        "func": "let input = msg.payload;\nlet counter = flow.get(\"counter\");\nlet counterRecv = flow.get(\"counterRecv\");\n\nif (msg.topic == \"output\")\n{\ninput[counter]= \"end\";\ncounter++\nflow.set(\"counter\", counter);\n}\n\nif (msg.topic == \"update\")\n{\ninput[counterRecv]= \"end\";\ncounterRecv++\nflow.set(\"counterRecv\", counterRecv);\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1420,
        "wires": [
            [
                "098b4105267759bc"
            ]
        ]
    },
    {
        "id": "7977a26cb7ec9fcc",
        "type": "change",
        "z": "5d09d44b507d75ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "counterRecv",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 1300,
        "wires": [
            [
                "7aed8ebf7941242f"
            ]
        ]
    },
    {
        "id": "60cf63bf3cae08cb",
        "type": "change",
        "z": "5d09d44b507d75ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1100,
        "wires": [
            [
                "9df18169b5fb7c79"
            ]
        ]
    },
    {
        "id": "9df18169b5fb7c79",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "View Inputs",
        "func": "input = flow.get(\"data\");\nlet counter = flow.get(\"counterRecv\");\n\n\nlet angleStr = input.slice(8,input.length-3);\nlet angleArray = angleStr.split(\",\");\n\nlet ArrJ1 = angleArray[0]\nlet ArrJ2 = angleArray[1]\nlet ArrJ3 = angleArray[2]\nlet ArrJ4 = angleArray[3]\nlet ArrJ5 = angleArray[4]\nlet ArrJ6 = angleArray[5]\nlet ArrLab = angleArray[6]\nlet ArrView = angleArray[7]\n\nArrJ1 = ArrJ1.split(\":\");\nArrJ2 = ArrJ2.split(\":\");\nArrJ3 = ArrJ3.split(\":\");\nArrJ4 = ArrJ4.split(\":\");\nArrJ5 = ArrJ5.split(\":\");\nArrJ6 = ArrJ6.split(\":\");\nArrLab = ArrLab.split(\":\");\nArrView = ArrView.split(\":\");\nArrLab = ArrLab[1];\nArrView = ArrView[1];\nArrLab = ArrLab.slice(2,ArrLab.length-1);\nArrView = ArrView.slice(2,ArrView.length-1);\n\nFinalArr = [ArrJ1[1],ArrJ2[1],ArrJ3[1],ArrJ4[1],ArrJ5[1],ArrJ6[1],ArrLab,ArrView]\n\nstoreArray = flow.get(\"storeArr\");\nif (counter == 0)\n{\n    storeArray = [\n        {\n            J1 : parseFloat(FinalArr[0]),\n            J2 : parseFloat(FinalArr[1]),\n            J3 : parseFloat(FinalArr[2]),\n            J4 : parseFloat(FinalArr[3]),\n            J5 : parseFloat(FinalArr[4]),\n            J6 : parseFloat(FinalArr[5]),\n            labels : FinalArr[6],\n            view : FinalArr[7]\n            \n        }\n        ]\n\n}\nelse\n{\n        //optionsArr.push(counter);\n        storeArray.push(\n            {\n            J1 : parseFloat(FinalArr[0]),\n            J2 : parseFloat(FinalArr[1]),\n            J3 : parseFloat(FinalArr[2]),\n            J4 : parseFloat(FinalArr[3]),\n            J5 : parseFloat(FinalArr[4]),\n            J6 : parseFloat(FinalArr[5]),\n            labels : FinalArr[6],\n            view : FinalArr[7]\n                \n            }\n            )\n}\ncounter++;\nmsg.payload = storeArray;\nflow.set(\"storeArr\", storeArray);\nflow.set(\"counterRecv\", counter);\nstoreArray = {}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1100,
        "wires": [
            [
                "973546b14c48be82",
                "6e02a59ff7d35cd9"
            ]
        ]
    },
    {
        "id": "ce03bd655177d581",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "",
        "func": "let Arr = [];\nlet counter = 0;\nflow.set(\"counterRecv\",counter);\nflow.set(\"counter\",counter);\nflow.set(\"outputs\", Arr);\nflow.set(\"storeArr\",Arr);\nflow.set(\"selectedRow\",counter);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 40,
        "wires": [
            [
                "8773f9e205327386"
            ]
        ]
    },
    {
        "id": "0ca437d09c1226e2",
        "type": "ui_button",
        "z": "5d09d44b507d75ac",
        "name": "",
        "group": "0ec98605595e707b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "deletePoint",
        "topicType": "str",
        "x": 610,
        "y": 820,
        "wires": [
            [
                "a38f7f699e5a1246",
                "7334e1af077fb283"
            ]
        ]
    },
    {
        "id": "312d937821e327fc",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "Hide Augment Data",
        "func": "if (msg.payload == \"Hide\")\n{\n    msg.payload = {\"group\": {\"hide\": [\"Coordinates_&_Labels_Augment_Data\"]}}\n}\nelse \n{\n    msg.payload = {\"group\": {\"show\": [\"Coordinates_&_Labels_Augment_Data\"]}}\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 500,
        "wires": [
            [
                "bd0efc47e6fa296f"
            ]
        ]
    },
    {
        "id": "cddbbad2d1a47048",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "",
        "func": "let rowNum = 0;\nrowNum = msg.row;\nrowNum = rowNum + 1; \n\nflow.set(\"selectedRow\",rowNum);\nmsg.payload = rowNum; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nrowNum = 0;\nflow.set(\"selectedRow\",rowNum);",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 1040,
        "wires": [
            [
                "7c03e475b62a1873",
                "2c5fa6f2d8e91ad8"
            ]
        ]
    },
    {
        "id": "7c03e475b62a1873",
        "type": "ui_text",
        "z": "5d09d44b507d75ac",
        "group": "0ec98605595e707b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Selected point:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1900,
        "y": 1040,
        "wires": []
    },
    {
        "id": "15a9124e4114f95b",
        "type": "link out",
        "z": "5d09d44b507d75ac",
        "name": "",
        "mode": "link",
        "links": [
            "f4b00391f35bc66d"
        ],
        "x": 355,
        "y": 20,
        "wires": []
    },
    {
        "id": "f4b00391f35bc66d",
        "type": "link in",
        "z": "5d09d44b507d75ac",
        "name": "",
        "links": [
            "15a9124e4114f95b"
        ],
        "x": 875,
        "y": 760,
        "wires": [
            [
                "885f25a74e891513"
            ]
        ]
    },
    {
        "id": "8773f9e205327386",
        "type": "change",
        "z": "5d09d44b507d75ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "clearTable",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ff3c947db6b2c80e",
        "type": "ui_form",
        "z": "5d09d44b507d75ac",
        "name": "Augment Labels",
        "label": "Coordinates  & Labels",
        "group": "7d5260e86e81548a",
        "order": 2,
        "width": 15,
        "height": 1,
        "options": [
            {
                "label": "J1",
                "value": "J1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "J2",
                "value": "J2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "J3",
                "value": "J3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "J4",
                "value": "J4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "J5",
                "value": "J5",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "J6",
                "value": "J6",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "View",
                "value": "view",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Required Labels",
                "value": "labels",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "J1": "",
            "J2": "",
            "J3": "",
            "J4": "",
            "J5": "",
            "J6": "",
            "view": "",
            "labels": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "inputs",
        "topicType": "str",
        "splitLayout": true,
        "className": "",
        "x": 200,
        "y": 1020,
        "wires": [
            [
                "90a19783eeb954fc"
            ]
        ]
    },
    {
        "id": "7334e1af077fb283",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "Arange Inputs",
        "func": "let input = flow.get(\"input\");\nlet counter = flow.get(\"counterRecv\");\nvar delete_rowNum = global.get(\"delete_rowNum\") || 0; \nvar cover_rowNum = global.get(\"cover_rowNum\") || 0;\nvar selected_row = flow.get(\"selectedRow\") || 0;\n\nlet output =[];\nif (msg.topic == \"clearTable\")\n{\n    output = flow.get(\"storeArr\");\n    output = [];\n    counter = 0;\n    flow.set(\"storeArr\", output);\n}\nelse if (selected_row != 0 && msg.topic != \"deletePoint\")\n{\n    output = flow.get(\"storeArr\");\n    output[selected_row -1]= input;\n    flow.set(\"storeArr\", output);\n    selected_row = 0;\n    flow.set(\"selectedRow\",selected_row);\n}\nelse if (msg.topic == \"inputData\")\n{\n    if (counter == 0)\n    {\n        output =[input];\n        flow.set(\"storeArr\", output);\n        counter++;\n    \n    }\n    else\n    {\n        output = flow.get(\"storeArr\");\n        output[counter]= input;\n        counter++;\n    }\n}\nelse if(msg.topic == \"deletePoint\")\n{\n    output = flow.get(\"storeArr\");\n    output.splice(selected_row-1,1);\n    flow.set(\"storeArr\", output);\n    \n    counter--; \n    \n    if(output.length == 0)\n    {\n        counter = 0;\n    }\n    \n}\n\n//output = selected_row\nmsg.payload = output;\n//counter++;\nflow.set(\"counterRecv\", counter);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1020,
        "wires": [
            [
                "b468c7bb771c53d6",
                "6e02a59ff7d35cd9"
            ]
        ]
    },
    {
        "id": "b468c7bb771c53d6",
        "type": "debug",
        "z": "5d09d44b507d75ac",
        "name": "Table output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1000,
        "wires": []
    },
    {
        "id": "973546b14c48be82",
        "type": "debug",
        "z": "5d09d44b507d75ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 1180,
        "wires": []
    },
    {
        "id": "fe5fd6b587c6257e",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "",
        "func": "let output = flow.get(\"output\") || 0;\nlet input = flow.get(\"input\") || 0;\n\n//var clearArray = flow.get(\"clearArray\") || \"\";\nvar counter = flow.get(\"counter\") || 0;\nvar delete_rowNum = global.get(\"delete_rowNum\") || 0; \nvar cover_rowNum = global.get(\"cover_rowNum\") || 0;\n\n\nif (msg.payload == \"deletePoint\")\n{\n    output[delete_rowNum].J1 =0;\n    output[delete_rowNum].J2 =0;\n    output[delete_rowNum].J3 =0;\n    output[delete_rowNum].J4 =0;\n    output[delete_rowNum].J5 =0;\n    output[delete_rowNum].J6 =0;\n    \n\n}\nelse if(msg.payload == \"cover\")\n{\n    output[cover_rowNum]= input;\n\n}\n\n\nflow.set(\"output\", output);\nflow.set(\"counter\",counter);\nflow.set(\"output\", output); \n\nmsg.payload = output;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1710,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "6e02a59ff7d35cd9",
        "type": "ui_table",
        "z": "5d09d44b507d75ac",
        "group": "7d5260e86e81548a",
        "name": "Received  Coordinates & Labels",
        "order": 1,
        "width": 15,
        "height": 7,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 1390,
        "y": 1100,
        "wires": [
            [
                "ff3c947db6b2c80e",
                "cddbbad2d1a47048"
            ]
        ]
    },
    {
        "id": "2c5fa6f2d8e91ad8",
        "type": "debug",
        "z": "5d09d44b507d75ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1890,
        "y": 1000,
        "wires": []
    },
    {
        "id": "d5015811986a5016",
        "type": "template",
        "z": "5d09d44b507d75ac",
        "name": "parse inputs",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"J1\": {{payload.J1}},\n    \"J2\": {{payload.J2}},\n    \"J3\": {{payload.J3}},\n    \"J4\": {{payload.J4}},\n    \"J5\": {{payload.J5}},\n    \"J6\": {{payload.J6}},\n    \"labels\": \"{{payload.labels}}\",\n    \"view\": \"{{payload.view}}\"\n}",
        "output": "json",
        "x": 410,
        "y": 960,
        "wires": [
            [
                "b1c39b616d4fbb98"
            ]
        ]
    },
    {
        "id": "b1c39b616d4fbb98",
        "type": "change",
        "z": "5d09d44b507d75ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "inputData",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 960,
        "wires": [
            [
                "a38f7f699e5a1246"
            ]
        ]
    },
    {
        "id": "885f25a74e891513",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "ClearTableAfterClose",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 760,
        "wires": [
            [
                "f49a889cbbc6b8d8",
                "6e02a59ff7d35cd9"
            ]
        ]
    },
    {
        "id": "b6cbbe875b0adc93",
        "type": "ui_button",
        "z": "5d09d44b507d75ac",
        "name": "",
        "group": "f9b1b4189949ee7c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Close",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Hide",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "15a9124e4114f95b",
                "ce03bd655177d581",
                "ac49ed7cb1487d50",
                "c1a5581c212192cb",
                "a4d4c735624d1608",
                "dab4b46c002a64f9",
                "7159c378dae6cd97",
                "6966c2ba4bceb26f",
                "312d937821e327fc"
            ]
        ]
    },
    {
        "id": "26a5b479067186aa",
        "type": "ui_button",
        "z": "5d09d44b507d75ac",
        "name": "Save",
        "group": "f9b1b4189949ee7c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "storeArr",
        "payloadType": "flow",
        "topic": "update",
        "topicType": "str",
        "x": 390,
        "y": 1460,
        "wires": [
            [
                "0660f8230308e93e"
            ]
        ]
    },
    {
        "id": "ac49ed7cb1487d50",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "Hide Save Button",
        "func": "if (msg.payload == \"Hide\")\n{\n    msg.payload = {\"group\": {\"hide\": [\"Coordinates_&_Labels_Update_CSV\"]}}\n}\nelse \n{\n    msg.payload = {\"group\": {\"show\": [\"Coordinates_&_Labels_Update_CSV\"]}}\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 160,
        "wires": [
            [
                "bd0efc47e6fa296f"
            ]
        ]
    },
    {
        "id": "adb790c2d56a43e9",
        "type": "ui_button",
        "z": "5d09d44b507d75ac",
        "name": "",
        "group": "7d5260e86e81548a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Run",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Run",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1600,
        "wires": [
            [
                "4b0bd17d6b19f198"
            ]
        ]
    },
    {
        "id": "4b79f74bd6481f91",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "",
        "func": "let Run = flow.get(\"Run\") || 0;\nlet loopCount= flow.get(\"counterRecv\");\nlet counter = flow.get(\"count\") || 0;\n\nif (Run == \"Run\" && counter != loopCount)\n{\n    Arr = flow.get(\"storeArr\");\n    msg.payload = Arr[counter];\n    flow.set(\"count\", counter+1);\n    counter = flow.get(\"count\")\n\n    if(counter == loopCount){\n        flow.set(\"count\", 0);\n        flow.set(\"Run\", 0);\n    }\n    \n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1600,
        "wires": [
            [
                "cb151c3b65e9e6c6"
            ]
        ]
    },
    {
        "id": "cb151c3b65e9e6c6",
        "type": "mqtt out",
        "z": "5d09d44b507d75ac",
        "name": "",
        "topic": "topic/runCSV",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f6f8c09749e6d95",
        "x": 770,
        "y": 1600,
        "wires": []
    },
    {
        "id": "7f7c41ac0ea5fb83",
        "type": "inject",
        "z": "5d09d44b507d75ac",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 1700,
        "wires": [
            [
                "4b79f74bd6481f91"
            ]
        ]
    },
    {
        "id": "245251cc4f62c752",
        "type": "mqtt in",
        "z": "5d09d44b507d75ac",
        "name": "",
        "topic": "topic/runCSV",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 770,
        "y": 1540,
        "wires": [
            [
                "b646bff208886da2"
            ]
        ]
    },
    {
        "id": "b646bff208886da2",
        "type": "debug",
        "z": "5d09d44b507d75ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 1540,
        "wires": []
    },
    {
        "id": "4b0bd17d6b19f198",
        "type": "change",
        "z": "5d09d44b507d75ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Run",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1600,
        "wires": [
            [
                "4b79f74bd6481f91"
            ]
        ]
    },
    {
        "id": "74f62c4fcf7f95f3",
        "type": "inject",
        "z": "5d09d44b507d75ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 1660,
        "wires": [
            [
                "4b0bd17d6b19f198"
            ]
        ]
    },
    {
        "id": "19dc39a9c62af5c6",
        "type": "change",
        "z": "5d09d44b507d75ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "count",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "4fc49c3c683c15df",
        "type": "inject",
        "z": "5d09d44b507d75ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 1760,
        "wires": [
            [
                "19dc39a9c62af5c6"
            ]
        ]
    },
    {
        "id": "72152230cb17bcc8",
        "type": "ui_switch",
        "z": "5d09d44b507d75ac",
        "name": "",
        "label": "Dobot",
        "tooltip": "",
        "group": "e608f74d7f84b6ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1610,
        "y": 140,
        "wires": [
            [
                "ff6877e11c20a0e7"
            ]
        ]
    },
    {
        "id": "ff6877e11c20a0e7",
        "type": "function",
        "z": "5d09d44b507d75ac",
        "name": "Dashboard Mode",
        "func": "let mode = msg.payload;\n\nif(mode){\n    msg.payload= {\n        \"tabs\": {\n            \"show\": [\"Dobot_CR5 Control\", \"Jog\", \"Teach Points\"]\n        }\n    }\n    \n}else{\n    msg.payload= {\n        \"tabs\": {\n            \"hide\": [\"Dobot_CR5 Control\", \"Jog\", \"Teach Points\"]\n        }\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 220,
        "wires": [
            [
                "bd0efc47e6fa296f"
            ]
        ]
    },
    {
        "id": "dbaac5885fc1337c",
        "type": "inject",
        "z": "5d09d44b507d75ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1610,
        "y": 60,
        "wires": [
            [
                "72152230cb17bcc8"
            ]
        ]
    },
    {
        "id": "d20976d995cc579f",
        "type": "ui_clock",
        "z": "5d09d44b507d75ac",
        "name": "",
        "group": "9bb15370d645b47b",
        "order": 2,
        "width": "4",
        "height": "4",
        "x": 1990,
        "y": 60,
        "wires": []
    },
    {
        "id": "8fd5c94f5b81d598",
        "type": "inject",
        "z": "5d09d44b507d75ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 1830,
        "y": 60,
        "wires": [
            [
                "d20976d995cc579f"
            ]
        ]
    }
]