Dobot_NodeRed/Dobot Control.json
[
    {
        "id": "079e223e21f42ea8",
        "type": "tab",
        "label": "DobotCR5Controls",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "89caf67342aa0486",
        "type": "inject",
        "z": "079e223e21f42ea8",
        "name": "CLEAR",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 690,
        "y": 180,
        "wires": [
            [
                "e282e17c66ad0d12"
            ]
        ]
    },
    {
        "id": "3812c62ac3e8104b",
        "type": "inject",
        "z": "079e223e21f42ea8",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 690,
        "y": 240,
        "wires": [
            [
                "7461473d06377f5a"
            ]
        ]
    },
    {
        "id": "0870ee885f3e1a45",
        "type": "inject",
        "z": "079e223e21f42ea8",
        "name": "Pause",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "c86eeefeb7fb604a"
            ]
        ]
    },
    {
        "id": "73cbee8c5aa1c813",
        "type": "inject",
        "z": "079e223e21f42ea8",
        "name": "Continue",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 700,
        "y": 360,
        "wires": [
            [
                "074cb2f41c374fa7"
            ]
        ]
    },
    {
        "id": "a40b74e61a25141c",
        "type": "inject",
        "z": "079e223e21f42ea8",
        "name": "Stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 690,
        "y": 420,
        "wires": [
            [
                "75d22735fa5ab6d1"
            ]
        ]
    },
    {
        "id": "7a063927939eff84",
        "type": "ui_button",
        "z": "079e223e21f42ea8",
        "name": "",
        "group": "d30728039dede5c0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1030,
        "y": 260,
        "wires": [
            [
                "7461473d06377f5a"
            ]
        ]
    },
    {
        "id": "48796ae17a2fe22e",
        "type": "ui_button",
        "z": "079e223e21f42ea8",
        "name": "",
        "group": "d30728039dede5c0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1030,
        "y": 320,
        "wires": [
            [
                "c86eeefeb7fb604a"
            ]
        ]
    },
    {
        "id": "b79204d706faf6e7",
        "type": "ui_button",
        "z": "079e223e21f42ea8",
        "name": "",
        "group": "d30728039dede5c0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Continue",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1040,
        "y": 380,
        "wires": [
            [
                "074cb2f41c374fa7"
            ]
        ]
    },
    {
        "id": "59ad0fa02fe00b80",
        "type": "ui_button",
        "z": "079e223e21f42ea8",
        "name": "",
        "group": "d30728039dede5c0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "75d22735fa5ab6d1"
            ]
        ]
    },
    {
        "id": "e282e17c66ad0d12",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "Clear",
        "func": "msg.payload = { value:[0,0,0,0],\n'fc': 15,\n'unitid': 1,\n'address': 0,\n'quantity': 4 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 180,
        "wires": [
            [
                "6fa20c69d189cbe3"
            ]
        ]
    },
    {
        "id": "7461473d06377f5a",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "Start",
        "func": "msg.payload = { value:[1,0,0,0],\n'fc': 15,\n'unitid': 1,\n'address': 0,\n'quantity': 4 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 240,
        "wires": [
            [
                "6fa20c69d189cbe3"
            ]
        ]
    },
    {
        "id": "c86eeefeb7fb604a",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "Pause",
        "func": "msg.payload = { value:[0,1,0,0],\n'fc': 15,\n'unitid': 1,\n'address': 0,\n'quantity': 4 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 300,
        "wires": [
            [
                "6fa20c69d189cbe3"
            ]
        ]
    },
    {
        "id": "074cb2f41c374fa7",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "Continue",
        "func": "msg.payload = { value:[0,0,1,0],\n'fc': 15,\n'unitid': 1,\n'address': 0,\n'quantity': 4 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 360,
        "wires": [
            [
                "6fa20c69d189cbe3"
            ]
        ]
    },
    {
        "id": "75d22735fa5ab6d1",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "Stop",
        "func": "msg.payload = { value:[0,0,0,1],\n'fc': 15,\n'unitid': 1,\n'address': 0,\n'quantity': 4 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 420,
        "wires": [
            [
                "6fa20c69d189cbe3"
            ]
        ]
    },
    {
        "id": "caabe1f66aaabec8",
        "type": "modbus-response",
        "z": "079e223e21f42ea8",
        "name": "",
        "registerShowMax": 20,
        "x": 1890,
        "y": 300,
        "wires": []
    },
    {
        "id": "6fa20c69d189cbe3",
        "type": "modbus-flex-write",
        "z": "079e223e21f42ea8",
        "name": "Dobot Controller",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "63d69422.2169ac",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1580,
        "y": 300,
        "wires": [
            [
                "caabe1f66aaabec8"
            ],
            [
                "caabe1f66aaabec8"
            ]
        ]
    },
    {
        "id": "e0c56bdaaabf8e4f",
        "type": "exec",
        "z": "079e223e21f42ea8",
        "command": "python",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 850,
        "y": 980,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9d03aa47275e3976",
        "type": "ui_text_input",
        "z": "079e223e21f42ea8",
        "name": "",
        "label": "File Path + Name",
        "tooltip": "",
        "group": "a6db13ac23098e93",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 210,
        "y": 980,
        "wires": [
            [
                "1cde36ec08e46979",
                "62ee996d68f8401e"
            ]
        ]
    },
    {
        "id": "f7b29ea95fe691d2",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "Modbus",
        "info": "Modbus controls for Dobot, only able to perform start pause continue and stop\nClear is used to clear the modbus, acts as a reset and should be used in the case modbus is not behaving properly. Genereally this feature should not be needed, only there as a precaution\nMore development can be done on this interface to be able to perform more features using modbus protocol to control the dobot\nWork is referenced from Pei Wen, link to author source is https://drive.google.com/drive/folders/1ZBdMco311Eqbl22KKzHNjs4gaVytvuDl\n",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "c3b140d06c1f93ae",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "Jog with Joints/Cartesian",
        "info": "Allows user to jog the dobot in cartesian or joint angles by sending MQTT data to the python script",
        "x": 2510,
        "y": 140,
        "wires": []
    },
    {
        "id": "442e559f0766bd04",
        "type": "mqtt in",
        "z": "079e223e21f42ea8",
        "name": "",
        "topic": "topic/Terminate",
        "qos": "1",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1160,
        "y": 620,
        "wires": [
            [
                "6cb5f89030e6d108"
            ]
        ]
    },
    {
        "id": "6cb5f89030e6d108",
        "type": "debug",
        "z": "079e223e21f42ea8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 620,
        "wires": []
    },
    {
        "id": "30b0aa1a4d5af1dd",
        "type": "ui_button",
        "z": "079e223e21f42ea8",
        "name": "",
        "group": "618f87fa8b39b322",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Run App",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 1200,
        "wires": [
            [
                "5c2a67453b0134d9",
                "192fe907aac94cae",
                "d2dd78d000b57e05"
            ]
        ]
    },
    {
        "id": "21e28152ee37b768",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "Run Python App with Jog & teach point functions",
        "info": "Upon clicking this button, the node will run the python code necessary to control the dobot with\nChange the filepath of the code inside the pythonshell in node\nAlso sends data to initalize the dobot to unlock robot joints\nNote the format of typing the filepath in the pythonshell in node, example can be seen in the node",
        "x": 500,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c719f6869182d9c8",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "Stop App running",
        "info": "Terminate button sends string via MQTT to python script to stop the app\n",
        "x": 520,
        "y": 560,
        "wires": []
    },
    {
        "id": "11ce88cdfdfef93c",
        "type": "ui_button",
        "z": "079e223e21f42ea8",
        "name": "",
        "group": "618f87fa8b39b322",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Terminate",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 500,
        "y": 600,
        "wires": [
            [
                "02ea7b8e4213218a"
            ]
        ]
    },
    {
        "id": "02ea7b8e4213218a",
        "type": "template",
        "z": "079e223e21f42ea8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Terminate",
        "output": "str",
        "x": 940,
        "y": 680,
        "wires": [
            [
                "ca7f084e1e0fadf5",
                "0f585db67225143e",
                "7df906058193351b"
            ]
        ]
    },
    {
        "id": "ca7f084e1e0fadf5",
        "type": "mqtt out",
        "z": "079e223e21f42ea8",
        "name": "",
        "topic": "topic/Terminate",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f6f8c09749e6d95",
        "x": 1180,
        "y": 680,
        "wires": []
    },
    {
        "id": "5c2a67453b0134d9",
        "type": "pythonshell in",
        "z": "079e223e21f42ea8",
        "name": "",
        "pyfile": "/Users/Dannielle/Desktop/Collaborative-Robotics-Interface-CRI-/Dobot_NodeRed/DobotApp.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 600,
        "y": 1200,
        "wires": [
            [
                "9ed949216458f509"
            ]
        ]
    },
    {
        "id": "f319549db63ab1d8",
        "type": "ui_switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "label": "Joint",
        "tooltip": "Change Cartesian(OFF) Change Joint(ON)",
        "group": "aa5b90833219c001",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1650,
        "y": 1580,
        "wires": [
            [
                "9067f0d33122c486"
            ]
        ]
    },
    {
        "id": "9067f0d33122c486",
        "type": "change",
        "z": "079e223e21f42ea8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "JogMode",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1850,
        "y": 1580,
        "wires": [
            [
                "b9a59ea0d3754004",
                "64fa64860412bd68",
                "e8e301f6542aad60",
                "ae512f046180a668",
                "5a3013e33a66eb06",
                "1496cb1b82047de3",
                "7e26221cd5c6bee2",
                "a8231f2653c6d082",
                "961d1ce197a69d2a",
                "786721f6d91dbf7d",
                "acdfe958dcbce6e9",
                "9ce8214d0db8578a"
            ]
        ]
    },
    {
        "id": "6d236097c3a34d5a",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "Choose Jog Mode",
        "info": "Allows user to choose the jog mode either in cartesian or joint angles as well as update the UI to reflect the selection",
        "x": 1670,
        "y": 1460,
        "wires": []
    },
    {
        "id": "3cf60664cee1de64",
        "type": "mqtt in",
        "z": "079e223e21f42ea8",
        "name": "",
        "topic": "topic/Angle",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1480,
        "wires": [
            [
                "f1d69af8d3062da3",
                "ac02c8298538b081"
            ]
        ]
    },
    {
        "id": "90ed4f7278fb12fe",
        "type": "mqtt in",
        "z": "079e223e21f42ea8",
        "name": "",
        "topic": "topic/Pose",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1620,
        "wires": [
            [
                "213065503d666c7b",
                "7349284174a42801"
            ]
        ]
    },
    {
        "id": "f1d69af8d3062da3",
        "type": "debug",
        "z": "079e223e21f42ea8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 1480,
        "wires": []
    },
    {
        "id": "213065503d666c7b",
        "type": "debug",
        "z": "079e223e21f42ea8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 1620,
        "wires": []
    },
    {
        "id": "ac02c8298538b081",
        "type": "change",
        "z": "079e223e21f42ea8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Angle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1540,
        "wires": [
            [
                "a99c85a627614d7a"
            ]
        ]
    },
    {
        "id": "a99c85a627614d7a",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "Angle = global.get(\"Angle\")\nlet joint = Angle.slice(1,(Angle.length)-1)\nlet myArr1 = joint.split(\",\")\n\nPose = global.get(\"Pose\")\nlet coordinate = Pose.slice(1,(Pose.length)-1)\nlet myArr2 = coordinate.split(\",\")\n\nmsg.payload = [\n    {\n        \"Type\": \"Joint\", \n        \"J1/X\": myArr1[0],\n        \"J2/Y\": myArr1[1],\n        \"J3/Z\": myArr1[2],\n        \"J4/Rx\": myArr1[3],\n        \"J5/Ry\": myArr1[4],\n        \"J6/Rz\": myArr1[5]\n    },\n    {\n        \"Type\": \"Coord\",\n        \"J1/X\": myArr2[0],\n        \"J2/Y\": myArr2[1],\n        \"J3/Z\": myArr2[2],\n        \"J4/Rx\": myArr2[3],\n        \"J5/Ry\": myArr2[4],\n        \"J6/Rz\": myArr2[5]\n    }\n    ]\n\nreturn msg;\n\n    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1560,
        "wires": [
            [
                "3f6d338adc57818a"
            ]
        ]
    },
    {
        "id": "7349284174a42801",
        "type": "change",
        "z": "079e223e21f42ea8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Pose",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1580,
        "wires": [
            [
                "a99c85a627614d7a"
            ]
        ]
    },
    {
        "id": "3f6d338adc57818a",
        "type": "ui_table",
        "z": "079e223e21f42ea8",
        "group": "d12f75d6ad348a3e",
        "name": "",
        "order": 1,
        "width": 12,
        "height": 3,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 830,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "d25c88d41a326f06",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J1+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"X+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3000,
        "y": 200,
        "wires": [
            [
                "14f235b361300204"
            ]
        ]
    },
    {
        "id": "6011e526b83b3c96",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 280,
        "wires": [
            [
                "d25c88d41a326f06"
            ]
        ]
    },
    {
        "id": "b488e1a196152216",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 380,
        "wires": [
            [
                "e937e954e127b0be"
            ]
        ]
    },
    {
        "id": "e937e954e127b0be",
        "type": "template",
        "z": "079e223e21f42ea8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 3740,
        "y": 2360,
        "wires": [
            [
                "14f235b361300204"
            ]
        ]
    },
    {
        "id": "3faf81f4d5dcfc79",
        "type": "mqtt in",
        "z": "079e223e21f42ea8",
        "name": "",
        "topic": "topic/Jog",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 4040,
        "y": 1460,
        "wires": [
            [
                "48a5b48a0a53b980"
            ]
        ]
    },
    {
        "id": "14f235b361300204",
        "type": "mqtt out",
        "z": "079e223e21f42ea8",
        "name": "",
        "topic": "topic/Jog",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f6f8c09749e6d95",
        "x": 4040,
        "y": 1520,
        "wires": []
    },
    {
        "id": "48a5b48a0a53b980",
        "type": "debug",
        "z": "079e223e21f42ea8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 4230,
        "y": 1460,
        "wires": []
    },
    {
        "id": "9272f0b399b6c70c",
        "type": "ui_text",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "1.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2230,
        "y": 1360,
        "wires": []
    },
    {
        "id": "b9a59ea0d3754004",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J1+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"X+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1360,
        "wires": [
            [
                "9272f0b399b6c70c"
            ]
        ]
    },
    {
        "id": "dc61c1f7f1f3402a",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "J1+/X+",
        "info": "",
        "x": 2470,
        "y": 340,
        "wires": []
    },
    {
        "id": "12f4e2e4b6d0f291",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J1-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"X-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3000,
        "y": 460,
        "wires": [
            [
                "14f235b361300204"
            ]
        ]
    },
    {
        "id": "33e7fda494f2aaa9",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 520,
        "wires": [
            [
                "12f4e2e4b6d0f291"
            ]
        ]
    },
    {
        "id": "a37c111fa2cb575f",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 600,
        "wires": [
            [
                "e937e954e127b0be"
            ]
        ]
    },
    {
        "id": "6d3bf5d144db4e26",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "J1-/X-",
        "info": "",
        "x": 2470,
        "y": 560,
        "wires": []
    },
    {
        "id": "0a123bf14cf2405a",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J2+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Y+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3000,
        "y": 680,
        "wires": [
            [
                "14f235b361300204"
            ]
        ]
    },
    {
        "id": "da5e84698ff9cce8",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 760,
        "wires": [
            [
                "0a123bf14cf2405a"
            ]
        ]
    },
    {
        "id": "b51cc38dca19e6e3",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 840,
        "wires": [
            [
                "e937e954e127b0be"
            ]
        ]
    },
    {
        "id": "913828713ee3e075",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "J2+/Y+",
        "info": "",
        "x": 2470,
        "y": 800,
        "wires": []
    },
    {
        "id": "8cf27f1b32c28384",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J2-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Y-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3000,
        "y": 920,
        "wires": [
            [
                "14f235b361300204"
            ]
        ]
    },
    {
        "id": "4c3ba7769782c585",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 1000,
        "wires": [
            [
                "8cf27f1b32c28384"
            ]
        ]
    },
    {
        "id": "e7bf4296062095bc",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 1080,
        "wires": [
            [
                "e937e954e127b0be"
            ]
        ]
    },
    {
        "id": "ab4ee7b864054170",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "J2-/Y-",
        "info": "",
        "x": 2470,
        "y": 1040,
        "wires": []
    },
    {
        "id": "3c03ace98a8b17cb",
        "type": "ui_text",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "1.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2230,
        "y": 1400,
        "wires": []
    },
    {
        "id": "64fa64860412bd68",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J1-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"X-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1400,
        "wires": [
            [
                "3c03ace98a8b17cb"
            ]
        ]
    },
    {
        "id": "43df46c3c3b154e9",
        "type": "ui_text",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "2.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2230,
        "y": 1440,
        "wires": []
    },
    {
        "id": "e8e301f6542aad60",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J2+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Y+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1440,
        "wires": [
            [
                "43df46c3c3b154e9"
            ]
        ]
    },
    {
        "id": "bcc139df99c76a11",
        "type": "ui_text",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "order": 8,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "2.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2230,
        "y": 1480,
        "wires": []
    },
    {
        "id": "ae512f046180a668",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J2-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Y-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1480,
        "wires": [
            [
                "bcc139df99c76a11"
            ]
        ]
    },
    {
        "id": "f26ae971e9c46bc7",
        "type": "inject",
        "z": "079e223e21f42ea8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1650,
        "y": 1520,
        "wires": [
            [
                "9067f0d33122c486",
                "f319549db63ab1d8"
            ]
        ]
    },
    {
        "id": "f7616e8aedea5e14",
        "type": "ui_text",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "order": 10,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "3.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2230,
        "y": 1520,
        "wires": []
    },
    {
        "id": "5a3013e33a66eb06",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J3+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Z+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1520,
        "wires": [
            [
                "f7616e8aedea5e14"
            ]
        ]
    },
    {
        "id": "db64a93905a5e81a",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J3+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Z+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3000,
        "y": 1160,
        "wires": [
            [
                "14f235b361300204"
            ]
        ]
    },
    {
        "id": "5df63febefe3f6fa",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 1240,
        "wires": [
            [
                "db64a93905a5e81a"
            ]
        ]
    },
    {
        "id": "e61cc8b2fa1e30ca",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 1320,
        "wires": [
            [
                "e937e954e127b0be"
            ]
        ]
    },
    {
        "id": "ce3487d3f34afb3b",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "J3+/Z+",
        "info": "",
        "x": 2470,
        "y": 1280,
        "wires": []
    },
    {
        "id": "837f4995984ebfcf",
        "type": "ui_text",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "order": 12,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "3.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2230,
        "y": 1560,
        "wires": []
    },
    {
        "id": "1496cb1b82047de3",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J3-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Z-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1560,
        "wires": [
            [
                "837f4995984ebfcf"
            ]
        ]
    },
    {
        "id": "652b82cb9f332bda",
        "type": "ui_text",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "order": 14,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "4.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2230,
        "y": 1600,
        "wires": []
    },
    {
        "id": "7e26221cd5c6bee2",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J4+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RX+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1600,
        "wires": [
            [
                "652b82cb9f332bda"
            ]
        ]
    },
    {
        "id": "4eb4e5e998fc2da5",
        "type": "ui_text",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "order": 16,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "4.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2230,
        "y": 1640,
        "wires": []
    },
    {
        "id": "a8231f2653c6d082",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J4-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RX-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1640,
        "wires": [
            [
                "4eb4e5e998fc2da5"
            ]
        ]
    },
    {
        "id": "5ad8a9388662a623",
        "type": "ui_text",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "order": 18,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "5.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2230,
        "y": 1680,
        "wires": []
    },
    {
        "id": "961d1ce197a69d2a",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J5+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RY+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1680,
        "wires": [
            [
                "5ad8a9388662a623"
            ]
        ]
    },
    {
        "id": "885d6cd436432daf",
        "type": "ui_text",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "order": 20,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "5.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2230,
        "y": 1720,
        "wires": []
    },
    {
        "id": "786721f6d91dbf7d",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J5-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RY-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1720,
        "wires": [
            [
                "885d6cd436432daf"
            ]
        ]
    },
    {
        "id": "75b7655e97899333",
        "type": "ui_text",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "order": 22,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "6.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2230,
        "y": 1760,
        "wires": []
    },
    {
        "id": "acdfe958dcbce6e9",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J6+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RZ+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1760,
        "wires": [
            [
                "75b7655e97899333"
            ]
        ]
    },
    {
        "id": "0902408d1a4f75fe",
        "type": "ui_text",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "order": 24,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "6.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2230,
        "y": 1800,
        "wires": []
    },
    {
        "id": "9ce8214d0db8578a",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J6-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"RZ-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1800,
        "wires": [
            [
                "0902408d1a4f75fe"
            ]
        ]
    },
    {
        "id": "1609edf990e7befc",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J3-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Z-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3000,
        "y": 1400,
        "wires": [
            [
                "14f235b361300204"
            ]
        ]
    },
    {
        "id": "2d438742c11f658c",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 1480,
        "wires": [
            [
                "1609edf990e7befc"
            ]
        ]
    },
    {
        "id": "5b2be7bff021e290",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 1560,
        "wires": [
            [
                "e937e954e127b0be"
            ]
        ]
    },
    {
        "id": "807a26a3640fe629",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "J3-/Z-",
        "info": "",
        "x": 2470,
        "y": 1520,
        "wires": []
    },
    {
        "id": "6d5248e95866a5e3",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J4+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Rx+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3000,
        "y": 1640,
        "wires": [
            [
                "14f235b361300204"
            ]
        ]
    },
    {
        "id": "388439adb90f681f",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 1720,
        "wires": [
            [
                "6d5248e95866a5e3"
            ]
        ]
    },
    {
        "id": "9e8c2bbc403ca3d0",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 1820,
        "wires": [
            [
                "e937e954e127b0be"
            ]
        ]
    },
    {
        "id": "41a1f102dbfd6504",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "J4+/RX+",
        "info": "",
        "x": 2480,
        "y": 1780,
        "wires": []
    },
    {
        "id": "ea5984abce94dd6c",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J4-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Rx-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3000,
        "y": 1900,
        "wires": [
            [
                "14f235b361300204"
            ]
        ]
    },
    {
        "id": "43f0382dc601239f",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 1960,
        "wires": [
            [
                "ea5984abce94dd6c"
            ]
        ]
    },
    {
        "id": "765576bf280bbaba",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 2040,
        "wires": [
            [
                "e937e954e127b0be"
            ]
        ]
    },
    {
        "id": "ab6bbc6004270d99",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "J4-/RX-",
        "info": "",
        "x": 2470,
        "y": 2000,
        "wires": []
    },
    {
        "id": "703e7e94bb7b5713",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J5+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Ry+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3000,
        "y": 2120,
        "wires": [
            [
                "14f235b361300204"
            ]
        ]
    },
    {
        "id": "b155168784d076dc",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 2200,
        "wires": [
            [
                "703e7e94bb7b5713"
            ]
        ]
    },
    {
        "id": "702acb96c25453d9",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 2280,
        "wires": [
            [
                "e937e954e127b0be"
            ]
        ]
    },
    {
        "id": "f48ce517db7440f5",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "J5+/Ry+",
        "info": "",
        "x": 2480,
        "y": 2240,
        "wires": []
    },
    {
        "id": "f7d2a504e6952647",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J5-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Ry-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3000,
        "y": 2360,
        "wires": [
            [
                "14f235b361300204"
            ]
        ]
    },
    {
        "id": "63b0c5a1421964b4",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 2440,
        "wires": [
            [
                "f7d2a504e6952647"
            ]
        ]
    },
    {
        "id": "507a31cb49f33902",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 2520,
        "wires": [
            [
                "e937e954e127b0be"
            ]
        ]
    },
    {
        "id": "dba127d0e5660afa",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "J5-/Ry-",
        "info": "",
        "x": 2470,
        "y": 2480,
        "wires": []
    },
    {
        "id": "c390281a858c08ad",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J6+\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Rz+\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3000,
        "y": 2600,
        "wires": [
            [
                "14f235b361300204"
            ]
        ]
    },
    {
        "id": "8fe76fed1ff18b99",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 2680,
        "wires": [
            [
                "c390281a858c08ad"
            ]
        ]
    },
    {
        "id": "689ac6731624a153",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 2760,
        "wires": [
            [
                "e937e954e127b0be"
            ]
        ]
    },
    {
        "id": "3e69882bbe51f9e2",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "J6+/RZ+",
        "info": "",
        "x": 2480,
        "y": 2720,
        "wires": []
    },
    {
        "id": "1d9cb67c62a42e8f",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "mode = global.get(\"JogMode\")\nif (mode)\n{\n    msg.payload = \"J6-\"\n    return msg;\n}\nelse if (!mode)\n{\n    msg.payload = \"Rz-\"\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3000,
        "y": 2840,
        "wires": [
            [
                "14f235b361300204"
            ]
        ]
    },
    {
        "id": "22803245279e5c84",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 2920,
        "wires": [
            [
                "1d9cb67c62a42e8f"
            ]
        ]
    },
    {
        "id": "acd0a5505a33ea62",
        "type": "switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2670,
        "y": 3000,
        "wires": [
            [
                "e937e954e127b0be"
            ]
        ]
    },
    {
        "id": "4248cd51251046b0",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "J6-/RZ-",
        "info": "",
        "x": 2470,
        "y": 2960,
        "wires": []
    },
    {
        "id": "4681fd56f12c2e47",
        "type": "ui_led",
        "z": "079e223e21f42ea8",
        "order": 2,
        "group": "618f87fa8b39b322",
        "width": 1,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Terminate",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "RunApp",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1530,
        "y": 980,
        "wires": []
    },
    {
        "id": "192fe907aac94cae",
        "type": "template",
        "z": "079e223e21f42ea8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "RunApp",
        "output": "str",
        "x": 840,
        "y": 1060,
        "wires": [
            [
                "0f585db67225143e"
            ]
        ]
    },
    {
        "id": "f5e4c8e78faf288c",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "status = flow.get(\"payload\")\nif (status == \"Terminate\")\n{\n    msg.payload == \"false\"\n}\nelse if (status == \"RunApp\")\n{\n    msg.payload == \"true\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 980,
        "wires": [
            [
                "4681fd56f12c2e47"
            ]
        ]
    },
    {
        "id": "0f585db67225143e",
        "type": "change",
        "z": "079e223e21f42ea8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "flow",
                "to": "payload",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 980,
        "wires": [
            [
                "f5e4c8e78faf288c"
            ]
        ]
    },
    {
        "id": "c41a5c50cfbc6b09",
        "type": "inject",
        "z": "079e223e21f42ea8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Terminate",
        "payloadType": "str",
        "x": 1340,
        "y": 1080,
        "wires": [
            [
                "4681fd56f12c2e47"
            ]
        ]
    },
    {
        "id": "9ed949216458f509",
        "type": "debug",
        "z": "079e223e21f42ea8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 1200,
        "wires": []
    },
    {
        "id": "2ecbbdef1bc41a79",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "Get Angle and Pose data",
        "info": "This will receive angle and pose data from MQTT and format it to print into a table node",
        "x": 190,
        "y": 1420,
        "wires": []
    },
    {
        "id": "826fd050d7e8fcbb",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "msg.payload = [\n    {\n        \"Type\": \"Joint\", \n        \"J1/X\": \"0\",\n        \"J2/Y\": \"0\",\n        \"J3/Z\": \"0\",\n        \"J4/Rx\": \"0\",\n        \"J5/Ry\": \"0\",\n        \"J6/Rz\": \"0\"\n    },\n    {\n        \"Type\": \"Coord\",\n        \"J1/X\": \"0\",\n        \"J2/Y\": \"0\",\n        \"J3/Z\": \"0\",\n        \"J4/Rx\": \"0\",\n        \"J5/Ry\": \"0\",\n        \"J6/Rz\": \"0\"\n    }\n    ]\n\nreturn msg;\n\n    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1380,
        "wires": [
            [
                "3f6d338adc57818a",
                "72715c487c97041a"
            ]
        ]
    },
    {
        "id": "dfa3d6f397778706",
        "type": "inject",
        "z": "079e223e21f42ea8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 430,
        "y": 1380,
        "wires": [
            [
                "826fd050d7e8fcbb"
            ]
        ]
    },
    {
        "id": "627891e0dd43c4b5",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "path = global.get(\"path\")\nsend = \"\"\nfullpath = send.concat(\"\\\"\",path,\"\\\"\")\nmsg.payload = fullpath\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 980,
        "wires": [
            [
                "e0c56bdaaabf8e4f",
                "b7aa98da0c90f612"
            ]
        ]
    },
    {
        "id": "1cde36ec08e46979",
        "type": "change",
        "z": "079e223e21f42ea8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "path",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 980,
        "wires": [
            [
                "627891e0dd43c4b5"
            ]
        ]
    },
    {
        "id": "62ee996d68f8401e",
        "type": "debug",
        "z": "079e223e21f42ea8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 900,
        "wires": []
    },
    {
        "id": "6b8a96a48adc82eb",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "Run Python File",
        "info": "Enter the filepath of a python code to run, and the app will run it. This is meant to work in conjunction with the blockly python app.\nThis function is unable to loop code indefinitely, it will only run the script once.",
        "x": 200,
        "y": 940,
        "wires": []
    },
    {
        "id": "0332d062910e6a3e",
        "type": "mqtt in",
        "z": "079e223e21f42ea8",
        "name": "",
        "topic": "topic/Angle",
        "qos": "2",
        "datatype": "auto",
        "broker": "5cb008f400d3bb0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 560,
        "y": 2000,
        "wires": [
            [
                "7e92cb57372af91b"
            ]
        ]
    },
    {
        "id": "ce90f632a6861a98",
        "type": "mqtt in",
        "z": "079e223e21f42ea8",
        "name": "",
        "topic": "topic/Pose",
        "qos": "2",
        "datatype": "auto",
        "broker": "5cb008f400d3bb0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 560,
        "y": 2100,
        "wires": [
            [
                "af69a04f3bc86d4e"
            ]
        ]
    },
    {
        "id": "72715c487c97041a",
        "type": "ui_table",
        "z": "079e223e21f42ea8",
        "group": "d9e1961adff6d6f0",
        "name": "",
        "order": 1,
        "width": 9,
        "height": 3,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 1330,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "7e92cb57372af91b",
        "type": "change",
        "z": "079e223e21f42ea8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "jointAngle",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 2000,
        "wires": [
            [
                "b8bbb91c0b49caad",
                "444d8daca5121a19"
            ]
        ]
    },
    {
        "id": "af69a04f3bc86d4e",
        "type": "change",
        "z": "079e223e21f42ea8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pose",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 2100,
        "wires": [
            [
                "b8bbb91c0b49caad",
                "444d8daca5121a19"
            ]
        ]
    },
    {
        "id": "b8bbb91c0b49caad",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "let angle = flow.get(\"jointAngle\");\nlet pose = flow.get(\"pose\");\n\nlet angleStr = angle.slice(1,angle.length-1);\nlet angleArray = angleStr.split(\",\");\n\nlet poseStr = pose.slice(1,angle.length-1);\nlet poseArray = poseStr.split(\",\");\n\nmsg.payload = [\n    {\n        J1_x : angleArray[0],\n        J2_y : angleArray[1],\n        J3_z : angleArray[2],\n        J4_Rx : angleArray[3],\n        J5_Ry : angleArray[4],\n        J6_Rz : angleArray[5]\n    },\n    {\n        J1_x : poseArray[0],\n        J2_y : poseArray[1],\n        J3_z : poseArray[2],\n        J4_Rx : poseArray[3],\n        J5_Ry : poseArray[4],\n        J6_Rz : poseArray[5]\n    }\n];\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 1980,
        "wires": [
            [
                "72715c487c97041a"
            ]
        ]
    },
    {
        "id": "aab824c1b841df82",
        "type": "ui_button",
        "z": "079e223e21f42ea8",
        "name": "",
        "group": "e740f750a49115a5",
        "order": 1,
        "width": 9,
        "height": 1,
        "passthru": false,
        "label": "Save Points",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "savePoints",
        "topicType": "str",
        "x": 570,
        "y": 2240,
        "wires": [
            [
                "444d8daca5121a19"
            ]
        ]
    },
    {
        "id": "444d8daca5121a19",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "\nlet angle = flow.get(\"jointAngle\");\nlet pose = flow.get(\"pose\");\n\n\nlet angleStr = angle.slice(1,angle.length-1);\nlet angleArray = angleStr.split(\",\");\n\n\nlet poseStr = pose.slice(1,angle.length-1);\nlet poseArray = poseStr.split(\",\");\n\nvar storeArray = flow.get(\"storeArray\") || [];\nvar clearArray = flow.get(\"clearArray\") || \"\";\nvar counter = flow.get(\"counter\") || 0;\nvar delete_rowNum = global.get(\"delete_rowNum\") || 0; \nvar cover_rowNum = global.get(\"cover_rowNum\") || 0;\n\n//var optionsArr = flow.get(\"optionsArr\") || [];\n\n\nif(msg.topic == \"savePoints\")\n{\n    if ((storeArray.length == 0 ) || (clearArray == 1))\n    {\n        counter++;\n        //optionsArr = [counter];\n        storeArray = [\n        {\n            Points: counter,\n            J1_x : angleArray[0],\n            J2_y : angleArray[1],\n            J3_z : angleArray[2],\n            J4_Rx : angleArray[3],\n            J5_Ry : angleArray[4],\n            J6_Rz : angleArray[5]\n            \n        },\n        {\n            Points: \"\",\n            J1_x : poseArray[0],\n            J2_y : poseArray[1],\n            J3_z : poseArray[2],\n            J4_Rx : poseArray[3],\n            J5_Ry : poseArray[4],\n            J6_Rz : poseArray[5]\n        }\n        ];\n        clearArray = 0;\n    }\n    else\n    {\n        counter++;\n        //optionsArr.push(counter);\n        storeArray.push(\n            {\n                Points:counter,\n                J1_x : angleArray[0],\n                J2_y : angleArray[1],\n                J3_z : angleArray[2],\n                J4_Rx : angleArray[3],\n                J5_Ry : angleArray[4],\n                J6_Rz : angleArray[5]\n                \n            },\n            {\n                Points: \"\",\n                J1_x : poseArray[0],\n                J2_y : poseArray[1],\n                J3_z : poseArray[2],\n                J4_Rx : poseArray[3],\n                J5_Ry : poseArray[4],\n                J6_Rz : poseArray[5]\n                \n            }\n        )\n    }\n}\nelse if (msg.topic == \"deletePoint\")\n{\n    storeArray[delete_rowNum].J1_x =0;\n    storeArray[delete_rowNum].J2_y =0;\n    storeArray[delete_rowNum].J3_z =0;\n    storeArray[delete_rowNum].J4_Rx =0;\n    storeArray[delete_rowNum].J5_Ry =0;\n    storeArray[delete_rowNum].J6_Rz =0;\n    \n\n    storeArray[delete_rowNum+1] = \n    {\n        J1_x :0,\n        J2_y :0,\n        J3_z :0,\n        J4_Rx :0,\n        J5_Ry :0,\n        J6_Rz :0,\n    }\n}\nelse if(msg.topic == \"cover\")\n{\n    storeArray[cover_rowNum].J1_x =angleArray[0];\n    storeArray[cover_rowNum].J2_y =angleArray[1];\n    storeArray[cover_rowNum].J3_z =angleArray[2];\n    storeArray[cover_rowNum].J4_Rx =angleArray[3];\n    storeArray[cover_rowNum].J5_Ry =angleArray[4];\n    storeArray[cover_rowNum].J6_Rz =angleArray[5];\n    \n\n    storeArray[cover_rowNum+1] = \n    {\n        J1_x :poseArray[0],\n        J2_y :poseArray[1],\n        J3_z :poseArray[2],\n        J4_Rx :poseArray[3],\n        J5_Ry :poseArray[4],\n        J6_Rz :poseArray[5],\n    }\n}\n\n\nflow.set(\"storeArray\", storeArray);\nflow.set(\"clearArray\", clearArray);\nflow.set(\"counter\",counter);\n\n//flow.set(\"optionsArr\", optionsArr);\n//msg.options = optionsArr; \nmsg.payload = storeArray;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 2100,
        "wires": [
            [
                "d41335431ece837a",
                "e4acdf9483fa5cdc"
            ]
        ]
    },
    {
        "id": "d41335431ece837a",
        "type": "debug",
        "z": "079e223e21f42ea8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 2040,
        "wires": []
    },
    {
        "id": "2bb0a8cdc898fbce",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "var storeArray = flow.get(\"storeArray\") || [];\nvar clearArray = flow.get(\"clearArray\") || \"\"; \nvar counter = flow.get(\"counter\") || 0;\nif (msg.topic == \"reset\")\n{\n    storeArray = [\n        {\n            Points :\"\",\n            J1_x :\"\",\n            J2_y : \"\",\n            J3_z : \"\",\n            J4_Rx : \"\",\n            J5_Ry : \"\",\n            J6_Rz : \"\"\n        },\n        {\n            J1_x :\"\",\n            J2_y : \"\",\n            J3_z : \"\",\n            J4_Rx : \"\",\n            J5_Ry : \"\",\n            J6_Rz : \"\"\n        }\n    ];\n    clearArray = 1;\n    counter = 0;\n}\n\nflow.set(\"storeArray\", storeArray);\nflow.set(\"clearArray\", clearArray);\nflow.set(\"counter\", counter);\nmsg.payload = storeArray;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 2140,
        "wires": [
            [
                "e4acdf9483fa5cdc"
            ]
        ]
    },
    {
        "id": "5f560b6145a9d44f",
        "type": "ui_button",
        "z": "079e223e21f42ea8",
        "name": "",
        "group": "e740f750a49115a5",
        "order": 2,
        "width": 9,
        "height": 1,
        "passthru": false,
        "label": "reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "reset",
        "topicType": "str",
        "x": 590,
        "y": 2280,
        "wires": [
            [
                "2bb0a8cdc898fbce"
            ]
        ]
    },
    {
        "id": "36e076a9032a194f",
        "type": "mqtt out",
        "z": "079e223e21f42ea8",
        "name": "",
        "topic": "topic/CoreFunc",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f6f8c09749e6d95",
        "x": 1240,
        "y": 2900,
        "wires": []
    },
    {
        "id": "e4acdf9483fa5cdc",
        "type": "ui_table",
        "z": "079e223e21f42ea8",
        "group": "e740f750a49115a5",
        "name": "",
        "order": 3,
        "width": 9,
        "height": 8,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 1570,
        "y": 2120,
        "wires": [
            [
                "ca0c58e75a989983",
                "71071ec92b26875a"
            ]
        ]
    },
    {
        "id": "338c67fdf6ef85d2",
        "type": "inject",
        "z": "079e223e21f42ea8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1430,
        "y": 2300,
        "wires": [
            [
                "71071ec92b26875a"
            ]
        ]
    },
    {
        "id": "71071ec92b26875a",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "var storeArray = flow.get(\"storeArray\") || [];\n\nlet rowNum = 0;\nrowNum = msg.row;\n\nif((rowNum+1)%2 == 0)\n{\n    rowNum = rowNum -1;\n}\n\n\nlet point = [storeArray[rowNum].J1_x, storeArray[rowNum].J2_y, storeArray[rowNum].J3_z, storeArray[rowNum].J4_Rx, storeArray[rowNum].J5_Ry, storeArray[rowNum].J6_Rz]\n\npointStr = point.toString(point)\n\nmsg.payload = pointStr; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 2260,
        "wires": [
            [
                "90684f8cc628c02b",
                "876283aface2c1b2"
            ]
        ]
    },
    {
        "id": "90684f8cc628c02b",
        "type": "mqtt out",
        "z": "079e223e21f42ea8",
        "name": "",
        "topic": "topic/runTo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "62a9400db3990b17",
        "x": 1870,
        "y": 2260,
        "wires": []
    },
    {
        "id": "876283aface2c1b2",
        "type": "debug",
        "z": "079e223e21f42ea8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 2320,
        "wires": []
    },
    {
        "id": "c082c5613f28eb0c",
        "type": "ui_text",
        "z": "079e223e21f42ea8",
        "group": "d9e1961adff6d6f0",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Selected point:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2240,
        "y": 2140,
        "wires": []
    },
    {
        "id": "ca0c58e75a989983",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "let rowNum = 0;\nrowNum = msg.row;\nif (rowNum%2 != 0)\n{\n    rowNum = (rowNum-1)/2 +1;\n}\nelse\n{\n    rowNum = rowNum/2 + 1;\n}\n\n\n\nmsg.payload = rowNum; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 2120,
        "wires": [
            [
                "c082c5613f28eb0c",
                "f43f5738d4ff04ee",
                "cb0a41314ec8eece",
                "96b559d4e545b5be"
            ]
        ]
    },
    {
        "id": "1c98062dd433bb70",
        "type": "mqtt in",
        "z": "079e223e21f42ea8",
        "name": "",
        "topic": "topic/break",
        "qos": "2",
        "datatype": "auto",
        "broker": "407a01e4.6b637",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1740,
        "wires": [
            [
                "c4627c20aa490fb8",
                "66b9886853d5ed5c",
                "7739db13212811cd",
                "70e802eefe3c89d0"
            ]
        ]
    },
    {
        "id": "c4627c20aa490fb8",
        "type": "mqtt out",
        "z": "079e223e21f42ea8",
        "name": "",
        "topic": "topic/Break",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 510,
        "y": 1740,
        "wires": []
    },
    {
        "id": "66b9886853d5ed5c",
        "type": "debug",
        "z": "079e223e21f42ea8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1820,
        "wires": []
    },
    {
        "id": "7739db13212811cd",
        "type": "ui_text",
        "z": "079e223e21f42ea8",
        "group": "d9e1961adff6d6f0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 510,
        "y": 1880,
        "wires": []
    },
    {
        "id": "70e802eefe3c89d0",
        "type": "delay",
        "z": "079e223e21f42ea8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 1940,
        "wires": [
            [
                "811ad84a67b4f549"
            ]
        ]
    },
    {
        "id": "811ad84a67b4f549",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "msg.payload = \"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1940,
        "wires": [
            [
                "7739db13212811cd"
            ]
        ]
    },
    {
        "id": "f955310282d64c1a",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "Save Teach Points",
        "info": "This flow allows the user to save the current live angle and pose data which was obtained from the get live angle and pose data flow. \n\nThe user may delete the teach points, cover the points and make the dobot move the exact teach point by holding down the run to button. \n\nThe content in the table can be cleared by clicking the RESET button. \n\nThe saved points are stored as an array of objects. Each object being a teach point with coordinate data. ",
        "x": 1630,
        "y": 2060,
        "wires": []
    },
    {
        "id": "b7aa98da0c90f612",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "if (msg)\n{\n    msg.payload = true\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 800,
        "wires": [
            [
                "02ea7b8e4213218a"
            ]
        ]
    },
    {
        "id": "4b8eb2665e3b25e9",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "msg.payload = [\n    {\n        \"Type\": \"Joint\", \n        \"J1/X\": \"\",\n        \"J2/Y\": \"\",\n        \"J3/Z\": \"\",\n        \"J4/Rx\": \"\",\n        \"J5/Ry\": \"\",\n        \"J6/Rz\": \"\"\n    },\n    {\n        \"Type\": \"Coord\",\n        \"J1/X\": \"\",\n        \"J2/Y\": \"\",\n        \"J3/Z\": \"\",\n        \"J4/Rx\": \"\",\n        \"J5/Ry\": \"\",\n        \"J6/Rz\": \"\"\n    }\n    ]\n\nreturn msg;\n\n    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 1860,
        "wires": [
            [
                "e4acdf9483fa5cdc"
            ]
        ]
    },
    {
        "id": "513a872f15b120ee",
        "type": "inject",
        "z": "079e223e21f42ea8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 1310,
        "y": 1720,
        "wires": [
            [
                "4b8eb2665e3b25e9",
                "3b131321e952c1e3"
            ]
        ]
    },
    {
        "id": "3b131321e952c1e3",
        "type": "template",
        "z": "079e223e21f42ea8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "None",
        "output": "str",
        "x": 1840,
        "y": 1960,
        "wires": [
            [
                "c082c5613f28eb0c"
            ]
        ]
    },
    {
        "id": "f744a67b7db8cb57",
        "type": "ui_template",
        "z": "079e223e21f42ea8",
        "group": "d9e1961adff6d6f0",
        "name": "MoveTo",
        "order": 4,
        "width": 9,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: 'Start'})\" ng-mouseup=\"send({payload: 'Stop'})\"><i class=\"material-icons\"> accessible_forward </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 2480,
        "wires": [
            [
                "e2823102ba19c038",
                "0adce00aac42c478"
            ]
        ]
    },
    {
        "id": "e2823102ba19c038",
        "type": "debug",
        "z": "079e223e21f42ea8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 2460,
        "wires": []
    },
    {
        "id": "0adce00aac42c478",
        "type": "change",
        "z": "079e223e21f42ea8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "MoveTo",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 2380,
        "wires": [
            [
                "b835fa42a12dc65e"
            ]
        ]
    },
    {
        "id": "2c0fb6c1672802b5",
        "type": "ui_template",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "name": "1.1",
        "order": 3,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2470,
        "y": 420,
        "wires": [
            [
                "b488e1a196152216",
                "6011e526b83b3c96"
            ]
        ]
    },
    {
        "id": "b34c6acbb5c80ade",
        "type": "ui_template",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "name": "1.2",
        "order": 5,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2470,
        "y": 640,
        "wires": [
            [
                "33e7fda494f2aaa9",
                "a37c111fa2cb575f"
            ]
        ]
    },
    {
        "id": "d9e7716ac930503d",
        "type": "ui_template",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "name": "2.1",
        "order": 7,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2470,
        "y": 880,
        "wires": [
            [
                "da5e84698ff9cce8",
                "b51cc38dca19e6e3"
            ]
        ]
    },
    {
        "id": "f7ebdc74c0f81577",
        "type": "ui_template",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "name": "2.2",
        "order": 9,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2470,
        "y": 1120,
        "wires": [
            [
                "4c3ba7769782c585",
                "e7bf4296062095bc"
            ]
        ]
    },
    {
        "id": "343223bb385ef40b",
        "type": "ui_template",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "name": "3.1",
        "order": 11,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2470,
        "y": 1360,
        "wires": [
            [
                "5df63febefe3f6fa",
                "e61cc8b2fa1e30ca"
            ]
        ]
    },
    {
        "id": "c301928efe118490",
        "type": "ui_template",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "name": "3.2",
        "order": 13,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2470,
        "y": 1600,
        "wires": [
            [
                "2d438742c11f658c",
                "5b2be7bff021e290"
            ]
        ]
    },
    {
        "id": "1a79887c96cf129e",
        "type": "ui_template",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "name": "4.1",
        "order": 15,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2470,
        "y": 1860,
        "wires": [
            [
                "388439adb90f681f",
                "9e8c2bbc403ca3d0"
            ]
        ]
    },
    {
        "id": "4b36571560aff616",
        "type": "ui_template",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "name": "4.2",
        "order": 17,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2470,
        "y": 2080,
        "wires": [
            [
                "43f0382dc601239f",
                "765576bf280bbaba"
            ]
        ]
    },
    {
        "id": "65dec7c3841614ee",
        "type": "ui_template",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "name": "5.1",
        "order": 19,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2470,
        "y": 2320,
        "wires": [
            [
                "b155168784d076dc",
                "702acb96c25453d9"
            ]
        ]
    },
    {
        "id": "c56c2eac6499a070",
        "type": "ui_template",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "name": "5.2",
        "order": 21,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2470,
        "y": 2560,
        "wires": [
            [
                "63b0c5a1421964b4",
                "507a31cb49f33902"
            ]
        ]
    },
    {
        "id": "c89c8c79e569dad5",
        "type": "ui_template",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "name": "6.1",
        "order": 23,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2470,
        "y": 2800,
        "wires": [
            [
                "8fe76fed1ff18b99",
                "689ac6731624a153"
            ]
        ]
    },
    {
        "id": "4192c0b9eddcc29d",
        "type": "ui_template",
        "z": "079e223e21f42ea8",
        "group": "aa5b90833219c001",
        "name": "6.2",
        "order": 25,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n.button {\n  background-color: #097479;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: none !important;\n  width: 100% !important;\n  height: 100% !important;\n  margin: 0px !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  \n  transition: background-color 0.1s;\n\n}\n\nbutton:hover {\n  background-color: #0b8f95;\n}\n\nbutton:active {\n  background-color: #ff0000;\n}\n\n</style>\n<button ng-mousedown=\"send({payload: '1'})\" ng-mouseup=\"send({payload: '0'})\"><i class=\"material-icons\"> directions_run </i></button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2470,
        "y": 3040,
        "wires": [
            [
                "22803245279e5c84",
                "acd0a5505a33ea62"
            ]
        ]
    },
    {
        "id": "40c0e78d1d6b93e3",
        "type": "ui_switch",
        "z": "079e223e21f42ea8",
        "name": "",
        "label": "Enable Robot",
        "tooltip": "",
        "group": "618f87fa8b39b322",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "Enable",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Disable",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 960,
        "y": 2900,
        "wires": [
            [
                "36e076a9032a194f"
            ]
        ]
    },
    {
        "id": "e869b97dbb1d9740",
        "type": "ui_button",
        "z": "079e223e21f42ea8",
        "name": "",
        "group": "618f87fa8b39b322",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Error",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ClearErr",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 970,
        "y": 2960,
        "wires": [
            [
                "36e076a9032a194f"
            ]
        ]
    },
    {
        "id": "e5f1e5baa2702b2e",
        "type": "ui_button",
        "z": "079e223e21f42ea8",
        "name": "",
        "group": "d9e1961adff6d6f0",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Delete point",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "deletePoint",
        "topicType": "str",
        "x": 570,
        "y": 2200,
        "wires": [
            [
                "444d8daca5121a19"
            ]
        ]
    },
    {
        "id": "747e7bb7e714f7c4",
        "type": "ui_button",
        "z": "079e223e21f42ea8",
        "name": "",
        "group": "d9e1961adff6d6f0",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Cover",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "cover",
        "topicType": "str",
        "x": 590,
        "y": 2160,
        "wires": [
            [
                "444d8daca5121a19"
            ]
        ]
    },
    {
        "id": "96b559d4e545b5be",
        "type": "ui_text_input",
        "z": "079e223e21f42ea8",
        "name": "",
        "label": "Delete:",
        "tooltip": "",
        "group": "d9e1961adff6d6f0",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 2220,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "f43f5738d4ff04ee",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "var storeArray = flow.get(\"storeArray\") || [];\nvar delete_rowNum = global.get(\"delete_rowNum\") || 0;\nvar cover_rowNum = global.get(\"cover_rowNum\") || 0;\n\nvar tablerowNum = 0; \ntablerowNum = msg.payload;\ndelete_rowNum = tablerowNum*2 - 2;\ncover_rowNum = tablerowNum*2 - 2;\n\nflow.set(\"storeArray\", storeArray);\nglobal.set(\"delete_rowNum\", delete_rowNum);\nglobal.set(\"cover_rowNum\", cover_rowNum);\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2200,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "cb0a41314ec8eece",
        "type": "ui_text_input",
        "z": "079e223e21f42ea8",
        "name": "",
        "label": "Cover:",
        "tooltip": "",
        "group": "d9e1961adff6d6f0",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 2210,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "d2dd78d000b57e05",
        "type": "template",
        "z": "079e223e21f42ea8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Run",
        "output": "str",
        "x": 700,
        "y": 1300,
        "wires": [
            [
                "7df906058193351b"
            ]
        ]
    },
    {
        "id": "7df906058193351b",
        "type": "change",
        "z": "079e223e21f42ea8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Lock",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1660,
        "y": 1180,
        "wires": [
            [
                "93726660b8d3677a"
            ]
        ]
    },
    {
        "id": "4731a5dd19b129b9",
        "type": "mqtt in",
        "z": "079e223e21f42ea8",
        "name": "",
        "topic": "topic/CoreFunc",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1240,
        "y": 2840,
        "wires": [
            [
                "ca9ff398be440fa3"
            ]
        ]
    },
    {
        "id": "ca9ff398be440fa3",
        "type": "debug",
        "z": "079e223e21f42ea8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 2900,
        "wires": []
    },
    {
        "id": "f904ec33910dded7",
        "type": "debug",
        "z": "079e223e21f42ea8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 2980,
        "wires": []
    },
    {
        "id": "93726660b8d3677a",
        "type": "link out",
        "z": "079e223e21f42ea8",
        "name": "",
        "mode": "link",
        "links": [
            "8481ef669462fd64"
        ],
        "x": 1815,
        "y": 1180,
        "wires": []
    },
    {
        "id": "8481ef669462fd64",
        "type": "link in",
        "z": "079e223e21f42ea8",
        "name": "",
        "links": [
            "93726660b8d3677a"
        ],
        "x": 555,
        "y": 2820,
        "wires": [
            [
                "a37be3a439193fd1"
            ]
        ]
    },
    {
        "id": "b835fa42a12dc65e",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "Status = global.get(\"MoveTo\");\nif (Status == \"Start\")\n{\n    msg.payload = \"GO\";\n}\nelse if (Status == \"Stop\")\n{\n    msg.payload = \"NOGO\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 2380,
        "wires": [
            [
                "d0556eab4c3526b2"
            ]
        ]
    },
    {
        "id": "d0556eab4c3526b2",
        "type": "mqtt out",
        "z": "079e223e21f42ea8",
        "name": "",
        "topic": "topic/TPMove",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f6f8c09749e6d95",
        "x": 1280,
        "y": 2380,
        "wires": []
    },
    {
        "id": "1e4c2ce7dd9a2e38",
        "type": "mqtt in",
        "z": "079e223e21f42ea8",
        "name": "",
        "topic": "topic/TPMove",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f6f8c09749e6d95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 2440,
        "wires": [
            [
                "29688660adc4afe9"
            ]
        ]
    },
    {
        "id": "29688660adc4afe9",
        "type": "debug",
        "z": "079e223e21f42ea8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 2440,
        "wires": []
    },
    {
        "id": "a37be3a439193fd1",
        "type": "function",
        "z": "079e223e21f42ea8",
        "name": "",
        "func": "Status = global.get(\"Lock\")\nif (Status == \"Run\")\n{\n    msg.payload = \"Enable\"\n}\nelse if (Status == \"Terminate\")\n{\n    msg.payload = \"Disable\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 2900,
        "wires": [
            [
                "f904ec33910dded7",
                "40c0e78d1d6b93e3"
            ]
        ]
    },
    {
        "id": "702d6b87f0b0323f",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "Lock/unlock joints + clear error",
        "info": "Allow users to lock or unlock the joints via the enable robot button as well as clear errors that show up",
        "x": 660,
        "y": 2760,
        "wires": []
    },
    {
        "id": "187ce9dde8bf7a63",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "Break",
        "info": "All this does is send MQTT data to topic/Break to break the code. It isn't really necessary \n",
        "x": 130,
        "y": 1700,
        "wires": []
    },
    {
        "id": "d4be34900072d93e",
        "type": "comment",
        "z": "079e223e21f42ea8",
        "name": "Move to the Teach Point",
        "info": "When the run to button is held down, a message is sent to the Python script through MQTT to enable the robot to move to the teach point.\n\nWhen the button is no longer held down, a new message is sent to the python script to stop the robot motion the teach point. ",
        "x": 500,
        "y": 2400,
        "wires": []
    },
    {
        "id": "554099129ba1e8a5",
        "type": "ui_spacer",
        "z": "079e223e21f42ea8",
        "name": "spacer",
        "group": "d9e1961adff6d6f0",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "e24b040c21c25f4c",
        "type": "ui_spacer",
        "z": "079e223e21f42ea8",
        "name": "spacer",
        "group": "d9e1961adff6d6f0",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "d30728039dede5c0",
        "type": "ui_group",
        "name": "Modbus Commands",
        "tab": "dc24ed173122688d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63d69422.2169ac",
        "type": "modbus-client",
        "name": "Dobot controller",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "tcpHost": "192.168.5.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": "0",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "a6db13ac23098e93",
        "type": "ui_group",
        "name": "Run Python",
        "tab": "dc24ed173122688d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f6f8c09749e6d95",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "618f87fa8b39b322",
        "type": "ui_group",
        "name": "App Commands",
        "tab": "dc24ed173122688d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa5b90833219c001",
        "type": "ui_group",
        "name": "Jog",
        "tab": "72e259a6eee5e7bf",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d12f75d6ad348a3e",
        "type": "ui_group",
        "name": "Position Data",
        "tab": "72e259a6eee5e7bf",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5cb008f400d3bb0d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d9e1961adff6d6f0",
        "type": "ui_group",
        "name": "Current Position",
        "tab": "3738b331420988c2",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e740f750a49115a5",
        "type": "ui_group",
        "name": "Teach Points",
        "tab": "3738b331420988c2",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62a9400db3990b17",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "407a01e4.6b637",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "dc24ed173122688d",
        "type": "ui_tab",
        "name": "Dobot_CR5 Control",
        "icon": "mi-precision_manufacturing",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "72e259a6eee5e7bf",
        "type": "ui_tab",
        "name": "Jog",
        "icon": "mi-directions_walk",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3738b331420988c2",
        "type": "ui_tab",
        "name": "Teach Points",
        "icon": "mi-assignment_ind",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]